Repository mariage-kr/mariage, pull requests merged in 2023-06, with the labels that each got.

#374 [FE] 별점에 따른 리뷰 모아보기 UI 구현
  frontend/src/assets/png/XIcon.png
  frontend/src/components/Animation/NoFoodRank.tsx
  frontend/src/components/Detail/Pairing/Pairing.styled.ts
  frontend/src/components/Detail/Pairing/Pairing.tsx
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.styled.ts
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.tsx
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.styled.ts
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.styled.ts
  frontend/src/components/Main/Recommend/ProductCardCarousel/ProductCardCarousel.styled.ts
  frontend/src/components/Main/Recommend/Weather/Weather.styled.ts
  frontend/src/components/NoFoodRank/NoFoodRanking.styled.ts
  frontend/src/components/Product/Filter/Filter.styled.ts
Labels: ✨ feature, 🖼︎ front-end

#380 [FE] 제품 상세페이지 리뷰 별점 관련 API를 연동
  backend/src/main/java/com/multi/mariage/review/controller/ReviewFindController.java
  frontend/src/@types/product.ts
  frontend/src/apis/request/review.ts
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.tsx
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.tsx
  frontend/src/components/Main/Recommend/ProductCardCarousel/ProductCardCarousel.tsx
  frontend/src/components/MyInformation/Profile/Profile.tsx
  frontend/src/pages/Product/Product.styled.ts
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#384 [FE] 리뷰작성 / admin 컴포넌트 이미지 삭제 기능 구현
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodImg.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodImg.tsx
  frontend/src/components/MyInformation/Profile/Profile.tsx
  frontend/src/hooks/useImage.ts
  frontend/src/pages/Admin/Admin.styled.ts
  frontend/src/pages/Admin/Admin.tsx
Labels: ✨ feature, 🖼︎ front-end

#382 [BE] 리뷰 삭제 기능 구현
  backend/src/main/java/com/multi/mariage/category/service/FoodCategoryService.java
  backend/src/main/java/com/multi/mariage/global/dto/PageResponse.java
  backend/src/main/java/com/multi/mariage/hashtag/service/HashtagService.java
  backend/src/main/java/com/multi/mariage/like/domain/Like.java
  backend/src/main/java/com/multi/mariage/like/domain/query/LikeRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/like/service/LikeService.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductFilterResponse.java
  backend/src/main/java/com/multi/mariage/review/controller/ReviewModifyController.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/main/java/com/multi/mariage/review/domain/ReviewHashtag.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/dto/response/MemberReviewInfoResponse.java
  backend/src/main/java/com/multi/mariage/review/dto/response/ProductReviewsResponse.java
  backend/src/main/java/com/multi/mariage/review/dto/response/ReviewDeleteResponse.java
  backend/src/main/java/com/multi/mariage/review/exception/ReviewErrorCode.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewHashtagService.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewModifyService.java
  backend/src/main/java/com/multi/mariage/storage/service/StorageService.java
  backend/src/main/java/com/multi/mariage/weather/service/WeatherService.java
  backend/src/test/java/com/multi/mariage/like/service/LikeServiceTest.java
  frontend/src/apis/request/review.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/constants/path.ts
Labels: ✨ feature, 🌱 back-end

#387 [FE] 마이페이지 사진변경/삭제 기능 구현
  frontend/src/apis/request/member.ts
  frontend/src/components/MyInformation/Profile/Profile.styled.ts
  frontend/src/components/MyInformation/Profile/Profile.tsx
  frontend/src/constants/path.ts
Labels: ✨ feature, 🖼︎ front-end

#388 [BE] 신고 기능 구현
  backend/src/main/java/com/multi/mariage/member/controller/MemberModifyController.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/report/Controller/ReportController.java
  backend/src/main/java/com/multi/mariage/report/domain/Report.java
  backend/src/main/java/com/multi/mariage/report/domain/ReportRepository.java
  backend/src/main/java/com/multi/mariage/report/domain/query/ReportRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/report/domain/query/ReportRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/report/dto/response/ReportResponse.java
  backend/src/main/java/com/multi/mariage/report/exception/ReportErrorCode.java
  backend/src/main/java/com/multi/mariage/report/exception/ReportException.java
  backend/src/main/java/com/multi/mariage/report/service/ReportService.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  frontend/src/@types/review.ts
  frontend/src/apis/request/review.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/constants/path.ts
Labels: ✨ feature, 🌱 back-end

#391 [FE] 리뷰페이지 프로필 api연동
  frontend/src/@types/review.ts
  frontend/src/apis/request/member.ts
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/pages/Review/Review.styled.ts
  frontend/src/pages/Review/Review.tsx
Labels: ✨ feature, 🖼︎ front-end

#392 [BE] 리뷰 페이지의 유저 정보를 가져오는 API를 수정
  backend/src/main/java/com/multi/mariage/review/controller/ReviewFindController.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/dto/cond/MemberReviewsPagingCond.java
  backend/src/main/java/com/multi/mariage/review/dto/request/ReviewFindRequest.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/test/java/com/multi/mariage/review/controller/ReviewFindControllerTest.java
  backend/src/test/java/com/multi/mariage/review/domain/query/ReviewRepositoryQueryTest.java
  backend/src/test/java/com/multi/mariage/review/service/ReviewFindServiceTest.java
Labels: ♻️ refactor, 🌱 back-end

#395 [FE] 헤더 닉네임 마스킹 수정
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/components/MyInformation/Profile/Profile.styled.ts
  frontend/src/pages/Review/Review.styled.ts
  frontend/src/pages/Review/Review.tsx
Labels: ✨ feature, 🖼︎ front-end

#397 [FE] 스낵바 구현
  frontend/src/@types/common.ts
  frontend/src/App.tsx
  frontend/src/components/Button/Like/Like.tsx
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewsData.json
  frontend/src/components/SnackBar/SnackBar.styled.ts
  frontend/src/components/SnackBar/SnackBar.tsx
  frontend/src/constants/key.ts
  frontend/src/constants/snackbar.ts
  frontend/src/hooks/useSnack.ts
  frontend/src/pages/Product/Product.tsx
  frontend/src/store/status.ts
Labels: ✨ feature, 🖼︎ front-end

#401 [BE, FE] 검색 자동완성 기능 구현
  backend/src/main/java/com/multi/mariage/MariageApplication.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductSearchResponse.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  frontend/src/@types/product.ts
  frontend/src/apis/request/product.ts
  frontend/src/components/Header/Search/Search.styled.ts
  frontend/src/components/Header/Search/Search.tsx
  frontend/src/constants/path.ts
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#399 [FE] 신고하기 버튼 UI
  frontend/src/assets/png/Siren.png
  frontend/src/assets/svg/SVG.tsx
  frontend/src/assets/svg/Siren.svg
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Review/ReviewList.styled.ts
Labels: 🖼︎ front-end

#403 [BE] 슬로프 원 추천기 구현
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewModifyService.java
  backend/src/main/java/com/multi/mariage/slope/domain/member/MemberSlope.java
  backend/src/main/java/com/multi/mariage/slope/domain/member/MemberSlopeRepository.java
  backend/src/main/java/com/multi/mariage/slope/domain/member/query/MemberSlopeRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/slope/domain/member/query/MemberSlopeRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/slope/domain/product/ProductSlope.java
  backend/src/main/java/com/multi/mariage/slope/domain/product/ProductSlopeRepository.java
  backend/src/main/java/com/multi/mariage/slope/domain/product/query/ProductSlopeRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/slope/domain/product/query/ProductSlopeRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/slope/service/SlopeService.java
  frontend/src/apis/request/product.ts
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.tsx
  frontend/src/components/Main/Recommend/ProductCardCarousel/ProductCardCarousel.tsx
  frontend/src/constants/path.ts
Labels: ✨ feature, 🌱 back-end

#383 [BE] 리뷰 수정 기능 구현
  backend/src/docs/asciidoc/Review.adoc
  backend/src/main/java/com/multi/mariage/review/controller/ReviewModifyController.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/main/java/com/multi/mariage/review/domain/ReviewHashtag.java
  backend/src/main/java/com/multi/mariage/review/domain/ReviewHashtagRepository.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/dto/request/ReviewUpdateRequest.java
  backend/src/main/java/com/multi/mariage/review/dto/response/ReviewUpdateResponse.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewModifyService.java
  backend/src/test/java/com/multi/mariage/common/annotation/RepositoryTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/ServiceTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/review/controller/ReviewModifyControllerTest.java
  backend/src/test/java/com/multi/mariage/review/service/ReviewModifyServiceTest.java
Labels: ✨ feature, 🌱 back-end

#407 [FE] search ui 구현
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Header/Search/Search.styled.ts
  frontend/src/components/Header/Search/Search.tsx
Labels: 🖼︎ front-end

#408 [FE] 리뷰페이지 API 연동
  frontend/src/@types/product.ts
  frontend/src/@types/review.ts
  frontend/src/apis/request/review.ts
  frontend/src/components/Button/Like/Like.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Review/ReviewList.styled.ts
  frontend/src/components/Review/ReviewList.tsx
  frontend/src/components/SnackBar/SnackBar.styled.ts
  frontend/src/components/SnackBar/SnackBar.tsx
  frontend/src/constants/option.ts
  frontend/src/constants/path.ts
  frontend/src/pages/Detail/Detail.tsx
  frontend/src/pages/Review/Review.styled.ts
  frontend/src/pages/Review/Review.tsx
Labels: ✨ feature, 🖼︎ front-end

#412 [FE] 리뷰 페이지 수정
  frontend/src/components/Review/ReviewList.styled.ts
  frontend/src/components/Review/ReviewList.tsx
  frontend/src/pages/Review/Review.styled.ts
  frontend/src/pages/Review/Review.tsx
Labels: ✨ feature, 🖼︎ front-end

#416 [BE, FE] 리뷰 수정기능 구현
  backend/src/main/java/com/multi/mariage/category/domain/FoodCategory.java
  backend/src/main/java/com/multi/mariage/review/controller/ReviewFindController.java
  backend/src/main/java/com/multi/mariage/review/controller/ReviewModifyController.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/main/java/com/multi/mariage/review/domain/ReviewRepository.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/dto/request/ReviewUpdateRequest.java
  backend/src/main/java/com/multi/mariage/review/dto/response/ReviewUpdateInfoResponse.java
  backend/src/main/java/com/multi/mariage/review/dto/response/ReviewUpdateResponse.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewModifyService.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/review/controller/ReviewModifyControllerTest.java
  backend/src/test/java/com/multi/mariage/review/service/ReviewModifyServiceTest.java
  frontend/src/@types/review.ts
  frontend/src/apis/request/review.ts
  frontend/src/assets/CountryFlag/CountryFlag.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewUpdate/ReviewUpdate.tsx
  frontend/src/components/Review/ReviewList.styled.ts
  frontend/src/components/Review/ReviewList.tsx
  frontend/src/constants/path.ts
  frontend/src/hooks/useImage.ts
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#414 [FE] 전체페이지 css 수정
  frontend/src/components/Button/Like/Like.styled.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.styled.ts
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.tsx
  frontend/src/components/Main/Recommend/ProductCardCarousel/ProductCardCarousel.tsx
  frontend/src/components/Product/Filter/Filter.styled.ts
  frontend/src/pages/MyInformation/MyInformation.styled.ts
  frontend/src/pages/Review/Review.styled.ts
  frontend/src/pages/Review/Review.tsx
Labels: ✨ feature, 🖼︎ front-end

#419 [FIX] 헤더 수정
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ReviewFixture.java
  frontend/package.json
  frontend/src/components/Header/Header.tsx
Labels: 🚑 fix, 🖼︎ front-end
