Repository mariage-kr/mariage, pull requests merged in 2023-05, with the labels that each got.

#40 [FE] 회원가입 기능
  backend/build.gradle
  backend/src/main/java/com/multi/mariage/global/config/WebConfig.java
  backend/src/main/java/com/multi/mariage/member/domain/Gender.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/member/dto/request/MemberSignupRequest.java
  backend/src/main/java/com/multi/mariage/member/service/MemberService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/multi/mariage/common/fixture/MemberFixture.java
  backend/src/test/java/com/multi/mariage/member/controller/MemberControllerTest.java
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/axios.ts
  frontend/src/apis/request/auth.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useInput.ts
  frontend/src/pages/SignUp/SignUp.styled.ts
  frontend/src/pages/SignUp/SignUp.tsx
  frontend/src/styles/global.tsx
  frontend/src/types/user.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#42 [FE] Footer 구현
  .gitignore
  frontend/src/App.tsx
  frontend/src/assets/svg/SVG.tsx
  frontend/src/assets/svg/search.svg
  frontend/src/components/Footer/Footer.styled.ts
  frontend/src/components/Footer/Footer.tsx
Labels: ✨ feature, 🖼︎ front-end

#45 [BE] 회원 탈퇴 기능 구현
  backend/build.gradle
  backend/src/main/java/com/multi/mariage/member/controller/MemberController.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/member/exception/MemberErrorCode.java
  backend/src/main/java/com/multi/mariage/member/service/MemberService.java
  backend/src/test/java/com/multi/mariage/common/fixture/MemberFixture.java
  backend/src/test/java/com/multi/mariage/member/controller/MemberControllerTest.java
  backend/src/test/java/com/multi/mariage/member/service/MemberServiceTest.java
  backend/src/test/resources/application.yml
Labels: ✨ feature, 🌱 back-end

#47 [FE] 회원가입 검증 기능 구현
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/constants/rule.ts
  frontend/src/pages/SignUp/SignUp.styled.ts
  frontend/src/pages/SignUp/SignUp.tsx
  frontend/src/pages/SignUp/Signup.test.ts
  frontend/src/pages/SignUp/Validate.ts
Labels: ✨ feature, ✅ test, 🖼︎ front-end

#51 [BE] 사진 저장 기능 구현
  backend/build.gradle
  backend/src/main/java/com/multi/mariage/global/exception/ControllerAdvice.java
  backend/src/main/java/com/multi/mariage/storage/controller/StorageController.java
  backend/src/main/java/com/multi/mariage/storage/domain/Image.java
  backend/src/main/java/com/multi/mariage/storage/dto/response/ImageSavedResponse.java
  backend/src/main/java/com/multi/mariage/storage/exception/StorageErrorCode.java
  backend/src/main/java/com/multi/mariage/storage/exception/StorageException.java
  backend/src/main/java/com/multi/mariage/storage/repository/StorageRepository.java
  backend/src/main/java/com/multi/mariage/storage/service/StorageService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/ImageFixture.java
  backend/src/test/java/com/multi/mariage/storage/controller/StorageControllerTest.java
  backend/src/test/java/com/multi/mariage/storage/repository/StorageRepositoryTest.java
  backend/src/test/java/com/multi/mariage/storage/service/StorageServiceTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/image/test.jpeg
Labels: ✨ feature, ✅ test, 🌱 back-end

#44 [FE] 별점 컴포넌트 구현
  frontend/src/components/StarRate/Average/StarRateAverage.styled.ts
  frontend/src/components/StarRate/Average/StarRateAverage.tsx
  frontend/src/components/StarRate/Common/StarRate.tsx
  frontend/src/components/StarRate/Common/StarRating.styled.ts
  frontend/src/components/StarRate/Common/StarRating.tsx
Labels: ✨ feature, 🖼︎ front-end

#53 [FE] 경로 별칭 설정
  frontend/src/App.tsx
  frontend/src/apis/request/auth.ts
  frontend/src/components/Animation/Soju.tsx
  frontend/src/components/Animation/Wine.tsx
  frontend/src/components/Error/Error.tsx
  frontend/src/components/Loading/Loading.tsx
  frontend/src/components/RangeMultiSlider_F/RangeMultiSlider_F.styled.ts
  frontend/src/components/RangeMultiSlider_F/RangeMultiSlider_F.tsx
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M.styled.ts
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M.tsx
  frontend/src/constants/message.ts
  frontend/src/pages/Main/Main.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/Pages.ts
  frontend/src/pages/SignUp/SignUp.tsx
  frontend/src/routes/Routes.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: 🖼︎ front-end, 🔧 config

#55 [FE] 스크롤 투 탑 기능 구현
  frontend/src/App.tsx
  frontend/src/assets/lottie/scrollTop.json
  frontend/src/components/Animation/ScrollTop.tsx
  frontend/src/components/Animation/index.ts
  frontend/src/components/ScrollToTop/ScrollToTop.styled.ts
  frontend/src/components/ScrollToTop/ScrollToTop.tsx
Labels: ✨ feature, 🌱 back-end

#57 [FE] 메인페이지 비주얼영역 구현
  frontend/src/pages/Main/Main.styled.ts
  frontend/src/pages/Main/Main.tsx
  frontend/src/pages/Main/Visual/Visual.styled.ts
  frontend/src/pages/Main/Visual/Visual.tsx
Labels: ✨ feature, 🖼︎ front-end

#59 [BE] 로그인 기능 구현
  backend/src/main/java/com/multi/mariage/auth/controller/AuthController.java
  backend/src/main/java/com/multi/mariage/auth/domain/AuthRepository.java
  backend/src/main/java/com/multi/mariage/auth/domain/RefreshToken.java
  backend/src/main/java/com/multi/mariage/auth/dto/request/LoginRequest.java
  backend/src/main/java/com/multi/mariage/auth/dto/response/TokenResponse.java
  backend/src/main/java/com/multi/mariage/auth/exception/AuthErrorCode.java
  backend/src/main/java/com/multi/mariage/auth/exception/AuthException.java
  backend/src/main/java/com/multi/mariage/auth/service/AuthService.java
  backend/src/main/java/com/multi/mariage/auth/service/CustomUserDetailService.java
  backend/src/main/java/com/multi/mariage/auth/support/JwtAccessDeniedHandler.java
  backend/src/main/java/com/multi/mariage/auth/support/JwtAuthenticationEntryPoint.java
  backend/src/main/java/com/multi/mariage/auth/support/JwtFilter.java
  backend/src/main/java/com/multi/mariage/auth/support/JwtSecurityConfig.java
  backend/src/main/java/com/multi/mariage/auth/support/TokenProvider.java
  backend/src/main/java/com/multi/mariage/global/security/SecurityConfig.java
  backend/src/main/java/com/multi/mariage/global/security/SecurityUtil.java
  backend/src/main/java/com/multi/mariage/member/controller/MemberController.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/member/domain/MemberRepository.java
  backend/src/main/java/com/multi/mariage/member/domain/Role.java
  backend/src/main/java/com/multi/mariage/member/domain/embedded/Password.java
  backend/src/main/java/com/multi/mariage/storage/controller/StorageController.java
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/MemberFixture.java
  backend/src/test/java/com/multi/mariage/storage/controller/StorageControllerTest.java
Labels: ✨ feature, 🌱 back-end

#61 [FE] 로그아웃 기능 구현
  backend/src/main/java/com/multi/mariage/auth/annotation/Authenticated.java
  backend/src/main/java/com/multi/mariage/auth/annotation/AuthenticatedArgumentResolver.java
  backend/src/main/java/com/multi/mariage/auth/controller/AuthController.java
  backend/src/main/java/com/multi/mariage/auth/domain/RefreshToken.java
  backend/src/main/java/com/multi/mariage/auth/dto/AuthMember.java
  backend/src/main/java/com/multi/mariage/auth/dto/request/ReissueRequest.java
  backend/src/main/java/com/multi/mariage/auth/service/AuthService.java
  backend/src/main/java/com/multi/mariage/auth/support/TokenProvider.java
  backend/src/main/java/com/multi/mariage/global/config/WebConfig.java
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
Labels: ✨ feature, 🌱 back-end

#62 [BE] 탈퇴 및 로그아웃 기능 구현
  backend/src/main/java/com/multi/mariage/auth/dto/request/LoginRequest.java
  backend/src/main/java/com/multi/mariage/member/controller/MemberController.java
  backend/src/main/java/com/multi/mariage/member/service/MemberService.java
  backend/src/test/java/com/multi/mariage/auth/service/AuthServiceTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/MemberFixture.java
  backend/src/test/java/com/multi/mariage/member/controller/MemberControllerTest.java
  backend/src/test/java/com/multi/mariage/member/service/MemberServiceTest.java
  backend/src/test/java/com/multi/mariage/storage/controller/StorageControllerTest.java
  backend/src/test/java/com/multi/mariage/storage/repository/StorageRepositoryTest.java
  backend/src/test/java/com/multi/mariage/storage/service/StorageServiceTest.java
  backend/src/test/java/com/multi/mariage/weather/service/WeatherServiceTest.java
Labels: ✨ feature, 🌱 back-end

#64 [BE] 인증 처리 컨트롤러 테스트 코드 작성
  backend/src/main/java/com/multi/mariage/auth/annotation/AuthenticatedArgumentResolver.java
  backend/src/main/java/com/multi/mariage/auth/dto/request/ReissueRequest.java
  backend/src/main/java/com/multi/mariage/auth/service/AuthService.java
  backend/src/main/java/com/multi/mariage/auth/support/TokenProvider.java
  backend/src/test/java/com/multi/mariage/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/multi/mariage/auth/service/AuthServiceTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/member/controller/MemberControllerTest.java
  backend/src/test/java/com/multi/mariage/storage/controller/StorageControllerTest.java
Labels: ✅ test, 🌱 back-end

#70 [FE] 마이페이지에서 프로필 사진 수정 기능 구현
  backend/src/main/java/com/multi/mariage/category/domain/UpperCategory.java
  backend/src/main/java/com/multi/mariage/member/controller/MemberController.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/member/dto/request/UpdateNicknameRequest.java
  backend/src/main/java/com/multi/mariage/member/dto/request/UpdatePasswordRequest.java
  backend/src/main/java/com/multi/mariage/member/dto/response/MyInfoResponse.java
  backend/src/main/java/com/multi/mariage/member/dto/response/UpdateImageResponse.java
  backend/src/main/java/com/multi/mariage/member/dto/response/UpdateNicknameResponse.java
  backend/src/main/java/com/multi/mariage/member/exception/MemberErrorCode.java
  backend/src/main/java/com/multi/mariage/member/service/MemberService.java
  backend/src/main/java/com/multi/mariage/storage/controller/StorageController.java
  backend/src/main/java/com/multi/mariage/storage/exception/StorageErrorCode.java
  backend/src/main/java/com/multi/mariage/storage/service/StorageService.java
  backend/src/test/java/com/multi/mariage/member/controller/MemberControllerTest.java
  backend/src/test/java/com/multi/mariage/member/service/MemberServiceTest.java
  backend/src/test/java/com/multi/mariage/storage/service/StorageServiceTest.java
Labels: ✨ feature, ✅ test, 🌱 back-end

#73 [FE] 메인페이지 상품추천영역 구현, 상품카드컴포넌트 및 필요없는데이터(이미지) 삭제
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/ProductCardDummyData/chamisul.png
  frontend/src/assets/ProductCardDummyData/chumchurum.png
  frontend/src/assets/ProductCardDummyData/ganbareotosang.png
  frontend/src/assets/ProductCardDummyData/ilpoomjinro.png
  frontend/src/assets/ProductCardDummyData/japan.svg
  frontend/src/assets/ProductCardDummyData/korea.svg
  frontend/src/components/ProductCard/ProductCard.styled.ts
  frontend/src/components/ProductCard/ProductCard.tsx
  frontend/src/components/ProductCard/ProductCardDummyData.json
  frontend/src/components/StarRate/Average/StarRateAverage.tsx
  frontend/src/pages/Main/Main.styled.ts
  frontend/src/pages/Main/Main.tsx
  frontend/src/pages/Main/Recommend/ProductCardCarousel/ProductCardCarousel.styled.ts
  frontend/src/pages/Main/Recommend/ProductCardCarousel/ProductCardCarousel.tsx
  frontend/src/pages/Main/Recommend/ProductCardCarousel/ProductCardDummyData.json
  frontend/src/pages/Main/Recommend/Recommend.styled.ts
  frontend/src/pages/Main/Recommend/Recommend.tsx
  frontend/src/pages/Main/Visual/Visual.styled.ts
Labels: ✨ feature, 📝 docs, 🔥 remove, 🖼︎ front-end

#77 [BE] 나의 프로필 정보 조회 기능을 구현
  backend/src/main/java/com/multi/mariage/member/controller/MemberController.java
  backend/src/main/java/com/multi/mariage/member/dto/response/MyInfoResponse.java
  backend/src/main/java/com/multi/mariage/member/service/MemberService.java
  backend/src/test/java/com/multi/mariage/member/controller/MemberControllerTest.java
  backend/src/test/java/com/multi/mariage/member/service/MemberServiceTest.java
Labels: ✨ feature, ✅ test, 🌱 back-end

#80 [FE] 메인페이지 검색필터 구현
  frontend/src/assets/png/arrow01.png
  frontend/src/assets/png/arrow02.png
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M.styled.ts
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M_ABV.tsx
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M_Star.tsx
  frontend/src/hooks/useSelect.ts
  frontend/src/pages/Main/Main.styled.ts
  frontend/src/pages/Main/Main.tsx
  frontend/src/pages/Main/SearchFilter/SearchFilter.styled.ts
  frontend/src/pages/Main/SearchFilter/SearchFilter.tsx
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.styled.ts
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.tsx
Labels: ✨ feature, 🖼︎ front-end

#79 [BE] 상위 카테고리 조회 기능 구현
  backend/src/main/java/com/multi/mariage/category/controller/CategoryController.java
  backend/src/main/java/com/multi/mariage/category/domain/DrinkLowerCategory.java
  backend/src/main/java/com/multi/mariage/category/domain/DrinkUpperCategory.java
  backend/src/main/java/com/multi/mariage/category/domain/FoodCategory.java
  backend/src/main/java/com/multi/mariage/category/domain/FoodValue.java
  backend/src/main/java/com/multi/mariage/category/domain/LowerCategory.java
  backend/src/main/java/com/multi/mariage/category/domain/LowerValue.java
  backend/src/main/java/com/multi/mariage/category/domain/Region.java
  backend/src/main/java/com/multi/mariage/category/domain/UpperCategory.java
  backend/src/main/java/com/multi/mariage/category/domain/UpperValue.java
  backend/src/main/java/com/multi/mariage/category/dto/DrinkUpperCategoriesResponse.java
  backend/src/main/java/com/multi/mariage/category/dto/DrinkUpperCategoryResponse.java
  backend/src/main/java/com/multi/mariage/category/dto/DrinkUpperCategoryValuesResponse.java
  backend/src/main/java/com/multi/mariage/category/dto/FoodCategoryResponse.java
  backend/src/main/java/com/multi/mariage/category/service/DrinkUpperCategoryService.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductController.java
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/dto/ProductSaveRequest.java
  backend/src/main/java/com/multi/mariage/product/service/ProductService.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/test/java/com/multi/mariage/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/multi/mariage/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/multi/mariage/category/service/DrinkUpperCategoryServiceTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/member/controller/MemberControllerTest.java
  backend/src/test/java/com/multi/mariage/storage/controller/StorageControllerTest.java
Labels: ✨ feature, 🌱 back-end

#84 [FE] 로그아웃 기능 구현
  backend/src/main/java/com/multi/mariage/InitDB.java
  backend/src/main/java/com/multi/mariage/auth/support/JwtFilter.java
  backend/src/main/java/com/multi/mariage/global/config/WebConfig.java
  backend/src/main/java/com/multi/mariage/global/security/SecurityConfig.java
  backend/src/main/java/com/multi/mariage/global/security/SecurityUtil.java
  backend/src/main/resources/application-logging.yml
  backend/src/test/java/com/multi/mariage/member/service/MemberServiceTest.java
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/apis/axios.ts
  frontend/src/apis/request/auth.ts
  frontend/src/components/Header/Profile/Profile.tsx
  frontend/src/components/Mariage/Mariage.tsx
  frontend/src/constants/path.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Main/Main.styled.ts
  frontend/src/pages/Main/SearchFilter/SearchFilter.tsx
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.tsx
  frontend/webpack.config.js
Labels: ✨ feature, 🚑 fix, 🖼︎ front-end

#87 [FE] 제품상세페이지 제품 설명 컴포넌트 구현 / 메인페이지 디자인 수정
  frontend/src/App.tsx
  frontend/src/components/Error/Error.tsx
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M.styled.ts
  frontend/src/pages/Detail/Detail.styled.ts
  frontend/src/pages/Detail/Detail.tsx
  frontend/src/pages/Detail/ProductContent/ProductContent.styled.ts
  frontend/src/pages/Detail/ProductContent/ProductContent.tsx
  frontend/src/pages/Main/Main.styled.ts
  frontend/src/pages/Main/Recommend/Filter/Filter.styled.ts
  frontend/src/pages/Main/Recommend/ProductCard/ProductCard.styled.ts
  frontend/src/pages/Main/Recommend/ProductCard/ProductCard.tsx
  frontend/src/pages/Main/Recommend/ProductCardCarousel/ProductCardCarousel.tsx
  frontend/src/pages/Main/SearchFilter/SearchFilter.styled.ts
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.styled.ts
  frontend/src/pages/Main/Visual/Visual.styled.ts
  frontend/src/pages/Main/Visual/Visual.tsx
  frontend/src/routes/Routes.tsx
  frontend/src/store/status.ts
Labels: ✨ feature, 🖼︎ front-end

#90 [FE] 메인페이지 검색필터 UI 수정
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M.styled.ts
  frontend/src/pages/Main/Recommend/ProductCard/ProductCard.tsx
  frontend/src/pages/Main/SearchFilter/SearchFilter.styled.ts
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.styled.ts
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.tsx
Labels: ✨ feature, 🖼︎ front-end

#93 [FE] 제품상세페이지 페어링 컴포넌트 구현
  frontend/src/assets/png/trophyicon.png
  frontend/src/pages/Detail/Detail.tsx
  frontend/src/pages/Detail/Pairing/Pairing.styled.ts
  frontend/src/pages/Detail/Pairing/Pairing.tsx
  frontend/src/pages/Detail/Pairing/PairingDummyData.json
  frontend/src/pages/Main/SearchFilter/SearchFilter.styled.ts
Labels: ✨ feature, 🖼︎ front-end

#89 [FE] 카테고리 조회 API 적용
  backend/src/main/java/com/multi/mariage/global/security/SecurityConfig.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/apis/request/category.ts
  frontend/src/components/Header/Dropdown/Dropdown.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M_ABV.tsx
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M_Star.tsx
  frontend/src/constants/path.ts
  frontend/src/hooks/useBoolean.ts
  frontend/src/hooks/useCategory.ts
  frontend/src/pages/Main/Recommend/Filter/Filter.tsx
  frontend/src/pages/Main/Recommend/Recommend copy.tsx
  frontend/src/pages/Main/Recommend/Recommend.styled copy.ts
  frontend/src/pages/Main/SearchFilter/SearchFilter.styled.ts
  frontend/src/pages/Main/SearchFilter/SearchFilter.tsx
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.tsx
  frontend/src/store/status.ts
  frontend/src/types/category.ts
  frontend/src/utils/boolean.ts
Labels: ✨ feature, 🖼︎ front-end

#98 [FE] 카테고리 저장기능 React-Query 적용
  frontend/src/App.tsx
  frontend/src/apis/request/category.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M.styled.ts
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M_ABV.tsx
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M_Star.tsx
  frontend/src/constants/key.ts
  frontend/src/hooks/useCategory.ts
  frontend/src/pages/Main/SearchFilter/SearchFilter.tsx
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.styled.ts
  frontend/src/store/status.ts
Labels: ✨ feature, 🖼︎ front-end

#100 [BE] 이미지 출력 기능 구현
  backend/src/main/java/com/multi/mariage/global/config/WebConfig.java
  backend/src/main/java/com/multi/mariage/global/security/SecurityConfig.java
  backend/src/main/java/com/multi/mariage/storage/controller/StorageController.java
  backend/src/main/java/com/multi/mariage/storage/service/StorageService.java
  backend/src/main/resources/application-logging.yml
  backend/src/test/java/com/multi/mariage/member/service/MemberServiceTest.java
  backend/src/test/java/com/multi/mariage/storage/controller/StorageControllerTest.java
  backend/src/test/java/com/multi/mariage/storage/service/StorageServiceTest.java
Labels: ✨ feature, 🌱 back-end

#102 [FE] 헤더에서 회원 별칭을 조회하는 기능 구현
  backend/src/main/java/com/multi/mariage/member/controller/MemberController.java
  backend/src/main/java/com/multi/mariage/member/dto/response/NicknameResponse.java
  backend/src/main/java/com/multi/mariage/member/service/MemberService.java
  backend/src/test/java/com/multi/mariage/member/controller/MemberControllerTest.java
  backend/src/test/java/com/multi/mariage/member/service/MemberServiceTest.java
  frontend/src/apis/request/member.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/User/Profile.styled.ts
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/constants/path.ts
  frontend/src/hooks/useNickname.ts
  frontend/src/store/status.ts
Labels: ✨ feature, ✅ test, 🖼︎ front-end, 🌱 back-end

#105 [BE] 주류 카테고리 코드 리팩토링
  backend/src/main/java/com/multi/mariage/category/controller/CategoryController.java
  backend/src/main/java/com/multi/mariage/category/dto/response/DrinkLowerCategoryResponse.java
  backend/src/main/java/com/multi/mariage/category/dto/response/DrinkUpperCategoryResponse.java
  backend/src/main/java/com/multi/mariage/category/service/DrinkLowerCategoryService.java
  backend/src/main/java/com/multi/mariage/category/service/DrinkUpperCategoryService.java
  backend/src/main/java/com/multi/mariage/category/vo/drinkLower/DrinkLowerCategoriesVO.java
  backend/src/main/java/com/multi/mariage/category/vo/drinkLower/DrinkLowerCategoryValuesVO.java
  backend/src/main/java/com/multi/mariage/category/vo/drinkLower/DrinkLowerSubCategoriesVO.java
  backend/src/main/java/com/multi/mariage/category/vo/drinkUpper/DrinkUpperCategoriesVO.java
  backend/src/main/java/com/multi/mariage/category/vo/drinkUpper/DrinkUpperCategoryValuesVO.java
  backend/src/test/java/com/multi/mariage/category/service/DrinkLowerCategoryServiceTest.java
  backend/src/test/java/com/multi/mariage/category/service/DrinkUpperCategoryServiceTest.java
Labels: ♻️ refactor, 🌱 back-end

#104 [BE] 음식 카테고리 조회 기능 구현
  backend/src/main/java/com/multi/mariage/category/controller/CategoryController.java
  backend/src/main/java/com/multi/mariage/category/domain/FoodCategory.java
  backend/src/main/java/com/multi/mariage/category/dto/response/FoodCategoryResponse.java
  backend/src/main/java/com/multi/mariage/category/service/FoodCategoryService.java
  backend/src/main/java/com/multi/mariage/category/vo/food/FoodCategoriesVO.java
  backend/src/test/java/com/multi/mariage/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/multi/mariage/category/service/FoodCategoryServiceTest.java
Labels: ✨ feature, 🌱 back-end

#107 [BE] Spring Rest Docs HTML 파일로 생성
  backend/.gitignore
  backend/build.gradle
  backend/src/docs/asciidoc/Auth.adoc
  backend/src/docs/asciidoc/Storage.adoc
  frontend/src/hooks/useCategory.ts
Labels: 📝 docs, 🌱 back-end

#95 [FE] 마이페이지 프로필, 비밀번호 변경
  frontend/src/assets/svg/user.svg
  frontend/src/pages/MyInformation/MyInformation.styled.ts
  frontend/src/pages/MyInformation/MyInformation.tsx
  frontend/src/pages/MyInformation/Password/Password.styled.ts
  frontend/src/pages/MyInformation/Password/Password.tsx
  frontend/src/pages/MyInformation/Profile/Profile.styled.ts
  frontend/src/pages/MyInformation/Profile/Profile.tsx
Labels: ✨ feature, 🖼︎ front-end

#108 [BE]Rest docs html 문서 추가
  backend/src/docs/asciidoc/Category.adoc
  backend/src/docs/asciidoc/Member.adoc
Labels: 📝 docs, 🌱 back-end

#112 [FE] 제품상세페이지 리뷰 컴포넌트 구현
  frontend/src/assets/png/reviewicon1.png
  frontend/src/assets/png/reviewicon2.png
  frontend/src/assets/svg/SVG.tsx
  frontend/src/components/Button/Like/Like.styled.ts
  frontend/src/components/Button/Like/Like.tsx
  frontend/src/pages/Detail/Detail.tsx
  frontend/src/pages/Detail/Pairing/Pairing.styled.ts
  frontend/src/pages/Detail/Review/Review.styled.ts
  frontend/src/pages/Detail/Review/Review.tsx
  frontend/src/pages/Detail/Review/ReviewCategory/ReviewCategory.styled.ts
  frontend/src/pages/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/pages/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/pages/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/pages/Detail/Review/ReviewContent/ReviewContentDummyData.json
Labels: ✨ feature, 🖼︎ front-end

#111 [BE] 국가 조회 기능 구현
  backend/src/main/java/com/multi/mariage/country/controller/CountryController.java
  backend/src/main/java/com/multi/mariage/country/domain/Country.java
  backend/src/main/java/com/multi/mariage/country/domain/CountryRepository.java
  backend/src/main/java/com/multi/mariage/country/domain/Value.java
  backend/src/main/java/com/multi/mariage/country/dto/response/CountryResponse.java
  backend/src/main/java/com/multi/mariage/country/service/CountryService.java
  backend/src/main/java/com/multi/mariage/country/vo/CountriesVO.java
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/dto/ProductSaveRequest.java
  backend/src/main/java/com/multi/mariage/product/dto/request/ProductSaveRequest.java
Labels: ✨ feature, 🌱 back-end

#116 [BE] Category API 반환값을 수정
  backend/src/main/java/com/multi/mariage/category/vo/drink_lower/DrinkLowerCategoriesVO.java
  backend/src/main/java/com/multi/mariage/category/vo/drink_lower/DrinkLowerCategoryValuesVO.java
  backend/src/main/java/com/multi/mariage/category/vo/drink_lower/DrinkLowerSubCategoriesVO.java
  backend/src/main/java/com/multi/mariage/category/vo/drink_upper/DrinkUpperCategoriesVO.java
  backend/src/main/java/com/multi/mariage/category/vo/drink_upper/DrinkUpperCategoryValuesVO.java
  backend/src/main/java/com/multi/mariage/category/vo/food/FoodCategoriesVO.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductController.java
  backend/src/main/java/com/multi/mariage/product/dto/request/ProductSaveRequest.java
  backend/src/main/java/com/multi/mariage/product/service/ProductService.java
  backend/src/test/java/com/multi/mariage/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/multi/mariage/category/service/DrinkLowerCategoryServiceTest.java
  backend/src/test/java/com/multi/mariage/category/service/DrinkUpperCategoryServiceTest.java
  frontend/src/apis/request/category.ts
  frontend/src/constants/path.ts
  frontend/src/pages/Admin/Admin.tsx
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.tsx
  frontend/src/types/category.ts
Labels: ♻️ refactor, 🌱 back-end

#118 [FE] 회원가입,로그인, header 수정
  frontend/src/components/Header/Dropdown/Dropdown.styled.ts
  frontend/src/components/Header/Search/Search.styled.ts
  frontend/src/components/Header/Search/Search.tsx
  frontend/src/components/Header/User/Profile.styled.ts
  frontend/src/layout/Layout.styled.ts
  frontend/src/pages/Login/Login.styled.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Main/Main.styled.ts
  frontend/src/pages/SignUp/SignUp.styled.ts
  package-lock.json
Labels: ✨ feature, 🖼︎ front-end

#120 [FE] 제품상세페이지 리뷰통계 컴포넌트 / 리뷰작성 버튼 구현
  frontend/src/assets/png/edit.png
  frontend/src/pages/Detail/Pairing/Pairing.styled.ts
  frontend/src/pages/Detail/Review/RateStatistic/RateStatistic.styled.ts
  frontend/src/pages/Detail/Review/RateStatistic/RateStatistic.tsx
  frontend/src/pages/Detail/Review/Review.tsx
  frontend/src/pages/Detail/Review/ReviewCategory/ReviewCategory.styled.ts
  frontend/src/pages/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/pages/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/pages/Main/SearchFilter/SelectBox/SelectBox.styled.ts
Labels: ✨ feature, 🖼︎ front-end

#128 [FE] 제품 등록 기능 구현
  backend/src/main/java/com/multi/mariage/country/vo/CountriesVO.java
  backend/src/main/java/com/multi/mariage/storage/service/StorageService.java
  frontend/src/apis/request/category.ts
  frontend/src/apis/request/product.ts
  frontend/src/apis/request/storage.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useImage.ts
  frontend/src/hooks/useSelect.ts
  frontend/src/pages/Admin/Admin.styled.ts
  frontend/src/pages/Admin/Admin.tsx
  frontend/src/types/category.ts
  frontend/src/types/id.ts
  frontend/src/types/product.ts
Labels: ✨ feature, 🖼︎ front-end

#130 [BE] API Docs 수정
  backend/src/docs/asciidoc/Auth.adoc
  backend/src/docs/asciidoc/Category.adoc
  backend/src/docs/asciidoc/Member.adoc
  backend/src/docs/asciidoc/Storage.adoc
Labels: 📝 docs, 🌱 back-end

#132 [BE] 제품 조회, 등록 기능 구현
  backend/src/main/java/com/multi/mariage/product/controller/ProductController.java
  backend/src/main/java/com/multi/mariage/product/dto/request/ProductSaveRequest.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductFindResponse.java
  backend/src/main/java/com/multi/mariage/product/service/ProductService.java
  backend/src/main/java/com/multi/mariage/product/vo/ProductsVO.java
  backend/src/main/java/com/multi/mariage/storage/exception/StorageErrorCode.java
  backend/src/main/java/com/multi/mariage/storage/service/ImageService.java
  backend/src/test/java/com/multi/mariage/common/fixture/ProductFixture.java
  backend/src/test/java/com/multi/mariage/product/service/ProductServiceTest.java
Labels: ✨ feature, ♻️ refactor, 🌱 back-end

#133 [FE] 마이프로필 정보 조회와 사진 별칭 수정 기능 구현
  frontend/src/apis/axios.ts
  frontend/src/apis/request/member.ts
  frontend/src/components/Header/Search/Search.tsx
  frontend/src/constants/path.ts
  frontend/src/hooks/useInput.ts
  frontend/src/pages/Admin/Admin.tsx
  frontend/src/pages/MyInformation/Profile/Profile.styled.ts
  frontend/src/pages/MyInformation/Profile/Profile.tsx
  package-lock.json
Labels: ✨ feature, 🖼︎ front-end

#136 [FE] 어드민 페이지에서 주류 등록 기능 구현
  backend/src/main/java/com/multi/mariage/product/controller/ProductController.java
  frontend/src/apis/request/product.ts
  frontend/src/pages/Admin/Admin.tsx
Labels: ✨ feature, 🖼︎ front-end

#137 [FE] 헤더에서 카테고리의 데이터 값이 출력되는 현상 수정
  frontend/src/components/Header/Dropdown/Dropdown.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/types/category.ts
Labels: 🚑 fix, 🖼︎ front-end

#138 [FE] 회원가입, 로그인 페이지의 링크 history 문제 해결
  frontend/src/pages/MyInformation/Profile/Profile.tsx
  frontend/src/pages/SignUp/SignUp.tsx
Labels: 🚑 fix, 🖼︎ front-end

#141 [BE, FE] 제품 정보 수정 기능 구현
  backend/src/main/java/com/multi/mariage/product/controller/ProductController.java
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/dto/request/ProductUpdateRequest.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductInfoResponse.java
  backend/src/main/java/com/multi/mariage/product/exception/ProductErrorCode.java
  backend/src/main/java/com/multi/mariage/product/exception/ProductException.java
  backend/src/main/java/com/multi/mariage/product/service/ProductService.java
  backend/src/main/java/com/multi/mariage/storage/service/ImageService.java
  backend/src/main/java/com/multi/mariage/storage/service/StorageService.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductControllerTest.java
  frontend/src/apis/request/product.ts
  frontend/src/apis/request/storage.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useInput.ts
  frontend/src/hooks/useSearchParam.ts
  frontend/src/hooks/useSelect.ts
  frontend/src/pages/Admin/Admin.tsx
  frontend/src/types/category.ts
  frontend/src/types/product.ts
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#143 [BE, FE] 엑세스 토큰을 재발급 하는 기능을 구현
  backend/src/main/java/com/multi/mariage/auth/annotation/AuthenticatedArgumentResolver.java
  backend/src/main/java/com/multi/mariage/auth/exception/AuthErrorCode.java
  backend/src/main/java/com/multi/mariage/auth/support/JwtAccessDeniedHandler.java
  backend/src/main/java/com/multi/mariage/auth/support/JwtAuthenticationEntryPoint.java
  backend/src/main/java/com/multi/mariage/auth/support/JwtFilter.java
  backend/src/main/java/com/multi/mariage/auth/support/JwtSecurityConfig.java
  backend/src/main/java/com/multi/mariage/global/exception/ControllerAdvice.java
  backend/src/main/java/com/multi/mariage/global/exception/exception/GlobalErrorCode.java
  frontend/src/apis/axios.ts
  frontend/src/apis/request/auth.ts
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/constants/path.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useNickname.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/types/token.ts
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#146 [BE] 제품 더미 데이터 추가 기능 구현
  backend/src/main/java/com/multi/mariage/InitDB.java
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ProductFixture.java
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  backend/src/main/java/com/multi/mariage/storage/controller/StorageController.java
  backend/src/main/java/com/multi/mariage/storage/service/ImageService.java
  backend/src/main/java/com/multi/mariage/storage/service/StorageService.java
  backend/src/main/resources/image/chamisul.png
  backend/src/main/resources/image/chumchurum.png
  backend/src/main/resources/image/ganbareotosang.png
  backend/src/main/resources/image/ilpoomjinro.png
  backend/src/main/resources/image/suntory.png
  backend/src/test/java/com/multi/mariage/storage/service/StorageServiceTest.java
Labels: ✨ feature, 🌱 back-end

#149 [BE] 제품 검색 기능을 구현과 테스트 코드 작성
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ProductFixture.java
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  backend/src/main/java/com/multi/mariage/product/domain/ProductRepository.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/test/java/com/multi/mariage/common/fixture/ProductFixture.java
  backend/src/test/java/com/multi/mariage/product/domain/ProductRepositoryQueryTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductServiceTest.java
Labels: ✨ feature, ✅ test, 🌱 back-end

#151 [FE] product페이지 UI 구현
  frontend/src/components/RangeMultiSlider_F/RangeMultiSlider_F.styled.ts
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M_Star.tsx
  frontend/src/pages/Product/Filter/Filter.styled.ts
  frontend/src/pages/Product/Filter/Filter.tsx
  frontend/src/pages/Product/Option/Option.styled.ts
  frontend/src/pages/Product/Option/Option.tsx
  frontend/src/pages/Product/Product.styled.ts
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Product/ProductCard/FoodIconDummyData.json
  frontend/src/pages/Product/ProductCard/ProductCard.styled.ts
  frontend/src/pages/Product/ProductCard/ProductCard.tsx
Labels: ✨ feature, 🖼︎ front-end

#154 [FE] 리뷰작성 모달 컴포넌트 구현 - #123
  frontend/src/components/StarRate/Common/StarRate.styled.ts
  frontend/src/components/StarRate/Common/StarRate.tsx
  frontend/src/pages/Detail/Detail.styled.ts
  frontend/src/pages/Detail/Detail.tsx
  frontend/src/pages/Detail/Pairing/Pairing.styled.ts
  frontend/src/pages/Detail/Pairing/Pairing.tsx
  frontend/src/pages/Detail/ProductContent/ProductContent.tsx
  frontend/src/pages/Detail/Review/RateStatistic/RateStatistic.styled.ts
  frontend/src/pages/Detail/Review/RateStatistic/RateStatistic.tsx
  frontend/src/pages/Detail/Review/Review.styled.ts
  frontend/src/pages/Detail/Review/Review.tsx
  frontend/src/pages/Detail/Review/ReviewCategory/ReviewCategory.styled.ts
  frontend/src/pages/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/pages/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/pages/Detail/Review/ReviewEdit/FoodContent/FoodCategory.styled.ts
  frontend/src/pages/Detail/Review/ReviewEdit/FoodContent/FoodCategory.tsx
  frontend/src/pages/Detail/Review/ReviewEdit/FoodContent/FoodImg.styled.ts
  frontend/src/pages/Detail/Review/ReviewEdit/FoodContent/FoodImg.tsx
  frontend/src/pages/Detail/Review/ReviewEdit/HashTag/HashTag.styled.ts
  frontend/src/pages/Detail/Review/ReviewEdit/HashTag/HashTag.tsx
  frontend/src/pages/Detail/Review/ReviewEdit/ReviewEdit.styled.ts
  frontend/src/pages/Detail/Review/ReviewEdit/ReviewEdit.tsx
  frontend/src/pages/Detail/Review/ReviewEditModal/ReviewEditModal.styled.ts
  frontend/src/pages/Detail/Review/ReviewEditModal/ReviewEditModal.tsx
Labels: ✨ feature, 🖼︎ front-end

#140 [BE] 제품 등록, 조회 관련 테스트 및 예외처리 구현
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/domain/ProductRepository.java
  backend/src/main/java/com/multi/mariage/product/domain/embedded/Info.java
  backend/src/main/java/com/multi/mariage/product/domain/embedded/Level.java
  backend/src/main/java/com/multi/mariage/product/domain/embedded/Name.java
  backend/src/main/java/com/multi/mariage/product/dto/request/ProductSaveRequest.java
  backend/src/main/java/com/multi/mariage/product/dto/request/ProductUpdateRequest.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductInfoResponse.java
  backend/src/main/java/com/multi/mariage/product/exception/ProductErrorCode.java
  backend/src/main/java/com/multi/mariage/product/service/ProductService.java
  backend/src/main/java/com/multi/mariage/product/vo/ProductsVO.java
  backend/src/test/java/com/multi/mariage/common/fixture/ImageFixture.java
  backend/src/test/java/com/multi/mariage/common/fixture/ProductFixture.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductControllerTest.java
  backend/src/test/java/com/multi/mariage/product/domain/ProductRepositoryTest.java
  backend/src/test/java/com/multi/mariage/product/domain/embedded/InfoTest.java
  backend/src/test/java/com/multi/mariage/product/domain/embedded/LevelTest.java
  backend/src/test/java/com/multi/mariage/product/domain/embedded/NameTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductServiceTest.java
  backend/src/test/resources/image/test1.jpeg
  backend/src/test/resources/image/test2.jpeg
Labels: ✅ test, ♻️ refactor, 🌱 back-end

#165 [FE] 리뷰 통계 컴포넌트 내부 퍼센트 바 추가
  frontend/src/components/Bar/PercentageBar/PercentageBar.styled.ts
  frontend/src/components/Bar/PercentageBar/PercentageBar.tsx
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.tsx
Labels: ✨ feature, 🖼︎ front-end

#166 [FE] Detail(제품상세페이지) 수정1
  frontend/src/assets/png/star1.png
  frontend/src/assets/png/star2.png
  frontend/src/assets/png/star3.png
  frontend/src/assets/png/star4.png
  frontend/src/assets/png/star5.png
  frontend/src/components/Button/Like/Like.styled.ts
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.styled.ts
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.tsx
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodCategory.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodImg.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodImg.tsx
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.styled.ts
  frontend/src/components/Detail/Review/ReviewEditModal/ReviewEditModal.styled.ts
Labels: ✨ feature, 🖼︎ front-end

#168 [FE] 리뷰 통계 컴포넌트 내부 바 스타일 수정
  frontend/src/components/Bar/PercentageBar/PercentageBar.styled.ts
  frontend/src/components/Bar/PercentageBar/PercentageBar.tsx
Labels: ♻️ refactor, 🖼︎ front-end

#172 [FE] 엑세스 토큰 재발행 버그 수정
  backend/src/main/java/com/multi/mariage/auth/controller/AuthController.java
  backend/src/main/java/com/multi/mariage/auth/service/AuthService.java
  backend/src/main/java/com/multi/mariage/auth/support/TokenProvider.java
  frontend/src/components/Header/User/Profile.tsx
Labels: 🚑 fix, 🖼︎ front-end

#174 [FE] 리뷰 통계 컴포넌트 UI 수정
  frontend/src/assets/png/star1.png
  frontend/src/assets/png/star2.png
  frontend/src/assets/png/star3.png
  frontend/src/assets/png/star4.png
  frontend/src/assets/png/star5.png
  frontend/src/assets/png/staricon.png
  frontend/src/assets/png/staricon2.png
  frontend/src/components/Detail/ProductContent/ProductContent.styled.ts
  frontend/src/components/Detail/Review/RateStatistic/PercentageBar/PercentageBar.styled.ts
  frontend/src/components/Detail/Review/RateStatistic/PercentageBar/PercentageBar.tsx
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.styled.ts
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.tsx
Labels: ✨ feature, 🔥 remove, 🖼︎ front-end

#177 [FE] 토큰 관련 버그가 존재하며 리프래쉬 토큰이 동일하지 않다는 오류를 수정
  backend/src/docs/asciidoc/Member.adoc
  backend/src/main/java/com/multi/mariage/auth/service/AuthService.java
  backend/src/main/java/com/multi/mariage/member/controller/MemberFindController.java
  backend/src/main/java/com/multi/mariage/member/dto/response/MemberInfoResponse.java
  backend/src/main/java/com/multi/mariage/member/service/MemberFindService.java
  backend/src/test/java/com/multi/mariage/member/controller/MemberFindControllerTest.java
  backend/src/test/java/com/multi/mariage/member/service/MemberServiceTest.java
  frontend/.prettierignore
  frontend/.prettierrc.js
  frontend/src/@types/user.ts
  frontend/src/apis/request/member.ts
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/components/Header/category.json
  frontend/src/components/Main/Visual/Visual.tsx
  frontend/src/components/MyInformation/Profile/Profile.tsx
  frontend/src/constants/key.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useNickname.ts
  frontend/src/hooks/useUserInfo.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/store/status.ts
Labels: 🚑 fix, 🖼︎ front-end

#179 [FE] 별점평균 컴포넌트 활용시 데이터값이 적용 안되는 버그 수정
  frontend/src/assets/svg/SVG.tsx
  frontend/src/assets/svg/rating/rating000.svg
  frontend/src/assets/svg/rating/rating012.svg
  frontend/src/assets/svg/rating/rating034.svg
  frontend/src/assets/svg/rating/rating055.svg
  frontend/src/assets/svg/rating/rating067.svg
  frontend/src/assets/svg/rating/rating089.svg
  frontend/src/assets/svg/rating/rating100.svg
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Product/ProductCard/ProductCard.styled.ts
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Slider/RangeMultiSlider_F/RangeMultiSlider_F.tsx
  frontend/src/components/StarRate/Average/SvgStarRateAverage.styled.ts
  frontend/src/components/StarRate/Average/SvgStarRateAverage.tsx
  frontend/src/pages/Product/Product.tsx
Labels: 🚑 fix, 🖼︎ front-end

#182 [FE] 회원의 별칭을 수정시 헤더에 반영이 안되는 현상이 발생 수정
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/components/MyInformation/Profile/Profile.tsx
  frontend/src/hooks/useUserInfo.ts
  frontend/src/pages/Login/Login.tsx
Labels: 🚑 fix, 🖼︎ front-end

#184 [FE] product페이지 카드컴포넌트 미디어쿼리
  frontend/src/assets/lottie/no-items.json
  frontend/src/assets/lottie/review.json
  frontend/src/components/Animation/NoItems.tsx
  frontend/src/components/Animation/Reviewer.tsx
  frontend/src/components/Animation/index.ts
  frontend/src/components/NoItems/NoItems.styled.ts
  frontend/src/components/NoItems/NoItems.tsx
  frontend/src/components/Product/ProductCard/ProductCard.styled.ts
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Slider/RangeMultiSlider_F/RangeMultiSlider_F.tsx
  frontend/src/components/StarRate/Average/StarRateAverage.styled.ts
  frontend/src/pages/Product/Product.tsx
Labels: ✨ feature, 🖼︎ front-end

#186 [FE] Review 페이지 구현
  frontend/src/components/Review/ReviewList.styled.ts
  frontend/src/components/Review/ReviewList.tsx
  frontend/src/constants/path.ts
  frontend/src/pages/Pages.ts
  frontend/src/pages/Review/Review.styled.ts
  frontend/src/pages/Review/Review.tsx
  frontend/src/routes/Routes.tsx
Labels: ✨ feature, 🖼︎ front-end

#188 [FE] 별점 컴포넌트 UI 수정
  frontend/src/components/Detail/ProductContent/ProductContent.styled.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/components/Review/ReviewList.styled.ts
  frontend/src/components/Review/ReviewList.tsx
Labels: ✨ feature, 🖼︎ front-end

#190 [BE] 리뷰 등록 기능을 구현
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  backend/src/main/java/com/multi/mariage/global/exception/ControllerAdvice.java
  backend/src/main/java/com/multi/mariage/hashtag/domain/Hashtag.java
  backend/src/main/java/com/multi/mariage/hashtag/domain/HashtagRepository.java
  backend/src/main/java/com/multi/mariage/hashtag/service/HashtagService.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/review/controller/ReviewModifyController.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/main/java/com/multi/mariage/review/dto/request/ReviewSaveRequest.java
  backend/src/main/java/com/multi/mariage/review/dto/resonse/ReviewSaveResponse.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewModifyService.java
  backend/src/main/java/com/multi/mariage/review_hashtag/domain/ReviewHashtag.java
  backend/src/main/java/com/multi/mariage/review_hashtag/domain/ReviewHashtagRepository.java
  backend/src/main/java/com/multi/mariage/review_hashtag/service/ReviewHashtagService.java
  backend/src/main/java/com/multi/mariage/weather/domain/Query/WeatherRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/weather/domain/Query/WeatherRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/weather/domain/WeatherRepository.java
  backend/src/main/java/com/multi/mariage/weather/exception/WeatherErrorCode.java
  backend/src/main/java/com/multi/mariage/weather/service/WeatherService.java
  backend/src/test/java/com/multi/mariage/common/annotation/RepositoryTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/review_hashtag/domain/ReviewHashtagRepositoryTest.java
  backend/src/test/java/com/multi/mariage/storage/repository/StorageRepositoryTest.java
  backend/src/test/java/com/multi/mariage/weather/service/WeatherServiceTest.java
  frontend/src/@types/review.ts
  frontend/src/layout/Layout.styled.ts
  frontend/src/store/status.ts
Labels: ✨ feature, 🌱 back-end

#192 [FE] 제품페이지 진입 시 카테고리 필터 default 설정 기능 구현
  frontend/src/components/Header/Dropdown/Dropdown.styled.ts
  frontend/src/components/Header/Dropdown/Dropdown.tsx
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/pages/Product/Product.tsx
Labels: ✨ feature, ♻️ refactor, 🖼︎ front-end

#193 [BE] 리뷰 작성에 대한 테스트 코드를 작성
  backend/src/docs/asciidoc/Auth.adoc
  backend/src/docs/asciidoc/Category.adoc
  backend/src/docs/asciidoc/Member.adoc
  backend/src/docs/asciidoc/Review.adoc
  backend/src/docs/asciidoc/Storage.adoc
  backend/src/main/java/com/multi/mariage/product/controller/ProductModifyController.java
  backend/src/main/java/com/multi/mariage/review/controller/ReviewModifyController.java
  backend/src/main/java/com/multi/mariage/review_hashtag/domain/ReviewHashtag.java
  backend/src/main/java/com/multi/mariage/weather/domain/Weather.java
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/RepositoryTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/ServiceTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/ImageFixture.java
  backend/src/test/java/com/multi/mariage/common/fixture/ProductFixture.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/common/fixture/WeatherFixture.java
  backend/src/test/java/com/multi/mariage/hashtag/domain/HashtagRepositoryTest.java
  backend/src/test/java/com/multi/mariage/hashtag/service/HashtagServiceTest.java
  backend/src/test/java/com/multi/mariage/member/service/MemberServiceTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductModifyServiceTest.java
  backend/src/test/java/com/multi/mariage/review/controller/ReviewModifyControllerTest.java
  backend/src/test/java/com/multi/mariage/review/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/multi/mariage/review/service/ReviewModifyServiceTest.java
  backend/src/test/java/com/multi/mariage/review_hashtag/domain/ReviewHashtagRepositoryTest.java
  backend/src/test/java/com/multi/mariage/review_hashtag/service/ReviewHashtagServiceTest.java
  backend/src/test/java/com/multi/mariage/storage/service/StorageServiceTest.java
Labels: ✅ test, 🌱 back-end

#197 [FE] header, footer 수정
  frontend/src/assets/png/footericon.png
  frontend/src/components/Footer/Footer.styled.ts
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Header/Dropdown/Dropdown.styled.ts
  frontend/src/components/Header/Header.styled.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/User/Profile.styled.ts
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/layout/Layout.styled.ts
  frontend/src/pages/Detail/Detail.styled.ts
  frontend/src/pages/Login/Login.styled.ts
  frontend/src/pages/Main/Main.styled.ts
  frontend/src/pages/SignUp/SignUp.styled.ts
Labels: ✨ feature, 🖼︎ front-end

#199 [FE] 글로벌 css 수정 및 전체컴포넌트 css 코드 정리
  frontend/src/components/Detail/Pairing/Pairing.styled.ts
  frontend/src/components/Detail/Pairing/Pairing.tsx
  frontend/src/components/Detail/ProductContent/ProductContent.styled.ts
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.styled.ts
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.styled.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodCategory.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodImg.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/HashTag/HashTag.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.styled.ts
  frontend/src/components/Detail/Review/ReviewEditModal/ReviewEditModal.styled.ts
  frontend/src/components/Footer/Footer.styled.ts
  frontend/src/components/Header/Dropdown/Dropdown.styled.ts
  frontend/src/components/Header/Search/Search.styled.ts
  frontend/src/components/Loading/Loading.styled.ts
  frontend/src/components/Loading/Loading.tsx
  frontend/src/components/Main/SearchFilter/SearchFilter.styled.ts
  frontend/src/styles/global.tsx
Labels: ✨ feature, 🖼︎ front-end

#200 [FE] 상위 카테고리를 선택한 상태에서 하위 카테고리 선택이 안되는 버그 수정
  frontend/src/components/Header/Dropdown/Dropdown.tsx
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/components/Product/Filter/Filter.styled.ts
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/pages/Product/Product.tsx
Labels: 🚑 fix, 🖼︎ front-end

#204 [BE] 이미지와 연관 관계를 가지고 있는 부모에게 cascade를 설정
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
Labels: ✨ feature, 🌱 back-end

#206 [BE] 더미데이터 파일 구조 변경
  backend/src/main/java/com/multi/mariage/global/data/Fixture/MemberFixture.java
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ReviewFixture.java
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
Labels: ♻️ refactor, 🌱 back-end

#210 [BE] 전체 기간 제품 추천 기능 구현
  backend/src/docs/asciidoc/Auth.adoc
  backend/src/docs/asciidoc/Category.adoc
  backend/src/docs/asciidoc/Member.adoc
  backend/src/docs/asciidoc/Product.adoc
  backend/src/docs/asciidoc/Review.adoc
  backend/src/docs/asciidoc/Storage.adoc
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ReviewFixture.java
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  backend/src/main/java/com/multi/mariage/hashtag/service/HashtagService.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductMainCardResponse.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/main/resources/application-logging.yml
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductFindControllerTest.java
  backend/src/test/java/com/multi/mariage/product/domain/ProductRepositoryQueryTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductFindServiceTest.java
Labels: ✨ feature, ✅ test, 🌱 back-end

#212 [FE] product 페이지 미디어쿼리 수정
  frontend/src/components/Animation/Reviewer.tsx
  frontend/src/components/Product/Filter/Filter.styled.ts
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/components/Product/Option/Option.styled.ts
  frontend/src/components/Product/Option/Option.tsx
  frontend/src/components/Product/ProductCard/ProductCard.styled.ts
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Slider/RangeMultiSlider_F/RangeMultiSlider_F.styled.ts
  frontend/src/components/StarRate/Average/SvgStarRateAverage.styled.ts
  frontend/src/pages/Product/Product.styled.ts
Labels: ✨ feature, 🖼︎ front-end

#208 [BE] 좋아요 등록 기능 구현
  backend/src/main/java/com/multi/mariage/like/controller/LikeController.java
  backend/src/main/java/com/multi/mariage/like/domain/Like.java
  backend/src/main/java/com/multi/mariage/like/domain/LikeRepository.java
  backend/src/main/java/com/multi/mariage/like/dto/request/LikeSaveRequest.java
  backend/src/main/java/com/multi/mariage/like/exception/LikeErrorCode.java
  backend/src/main/java/com/multi/mariage/like/exception/LikeException.java
  backend/src/main/java/com/multi/mariage/like/service/LikeService.java
  backend/src/main/java/com/multi/mariage/review/exception/ReviewErrorCode.java
  backend/src/main/java/com/multi/mariage/review/exception/ReviewException.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/RepositoryTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/ServiceTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/like/controller/LikeControllerTest.java
  backend/src/test/java/com/multi/mariage/like/domain/LikeRepositoryTest.java
  backend/src/test/java/com/multi/mariage/like/service/LikeServiceTest.java
Labels: ✨ feature, 🌱 back-end

#217 [FE] 마이페이지 UI 수정 및 기능 추가
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  frontend/src/apis/request/member.ts
  frontend/src/components/MyInformation/Password/Password.styled.ts
  frontend/src/components/MyInformation/Password/Password.tsx
  frontend/src/components/MyInformation/Profile/Profile.styled.ts
  frontend/src/components/MyInformation/Profile/Profile.tsx
  frontend/src/constants/path.ts
  frontend/src/pages/MyInformation/MyInformation.styled.ts
  frontend/src/pages/MyInformation/MyInformation.tsx
Labels: ✨ feature, 🖼︎ front-end

#211 [BE] 특정 기간사이에 가장 많은 리뷰가 있는 제품을 추천
  backend/src/docs/asciidoc/Product.adoc
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/test/java/com/multi/mariage/common/annotation/ServiceTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/WeatherFixture.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductFindControllerTest.java
  backend/src/test/java/com/multi/mariage/product/domain/ProductRepositoryQueryTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductFindServiceTest.java
  backend/src/test/java/com/multi/mariage/review/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/multi/mariage/review_hashtag/domain/ReviewHashtagRepositoryTest.java
Labels: ✨ feature, ✅ test, 🌱 back-end

#220 [FE] 리뷰 폼 취소 버튼 기능 수정
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.tsx
Labels: 🚑 fix, 🖼︎ front-end

#224 [BE] 날씨 관련 정보 조회 로직을 구현
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  backend/src/main/java/com/multi/mariage/like/domain/Like.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/main/java/com/multi/mariage/weather/controller/WeatherController.java
  backend/src/main/java/com/multi/mariage/weather/domain/Value.java
  backend/src/main/java/com/multi/mariage/weather/dto/response/WeatherInfoResponse.java
  backend/src/main/java/com/multi/mariage/weather/service/WeatherService.java
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/like/domain/LikeRepositoryTest.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductFindControllerTest.java
  frontend/src/assets/lottie/weather/clear.json
  frontend/src/assets/lottie/weather/clouds.json
  frontend/src/assets/lottie/weather/etc.json
  frontend/src/assets/lottie/weather/rain.json
  frontend/src/assets/lottie/weather/snow.json
  frontend/src/assets/lottie/weather/thunderstorm.json
  frontend/src/components/Animation/index.ts
  frontend/src/components/Animation/weather/Clear.tsx
  frontend/src/components/Animation/weather/Clouds.tsx
  frontend/src/components/Animation/weather/Etc.tsx
  frontend/src/components/Animation/weather/Rain.tsx
  frontend/src/components/Animation/weather/Snow.tsx
  frontend/src/components/Animation/weather/Thunderstorm.tsx
Labels: ✨ feature, 🌱 back-end

#225 [FIX] 오탈자 수정
  frontend/src/components/Animation/index.ts
Labels: 🚑 fix, 🖼︎ front-end

#232 [FE] 프론트엔드 CI 구현
  .github/workflows/frontend.yml
  frontend/src/assets/png/review.png
  frontend/src/assets/png/reviewicon1.png
  frontend/src/assets/png/staricon2.png
  frontend/src/assets/png/trophy.png
  frontend/src/components/Detail/Pairing/Pairing.tsx
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/pages/Pages.ts
  frontend/src/routes/Routes.tsx
Labels: 🖼︎ front-end, 🔧 config

#223 [FE] 메인페이지 멀티레인지 수정 / Footer, Header UI 수정
  frontend/src/components/Footer/Footer.styled.ts
  frontend/src/components/Header/Dropdown/Dropdown.styled.ts
  frontend/src/components/Header/Header.styled.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/Search/Search.styled.ts
  frontend/src/components/Header/Search/Search.tsx
  frontend/src/components/Header/User/Profile.styled.ts
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/components/Main/SearchFilter/SearchFilter.tsx
  frontend/src/components/Slider/RangeMultiSlider_M/RangeMultiSlider_M_Star.tsx
  frontend/src/pages/Review/Review.styled.ts
Labels: ✨ feature, 🖼︎ front-end

#235 [Infra] Github Action의 결과를 전송하는 기능 구현
  .github/workflows/frontend-main.yml
  .github/workflows/frontend-pr.yml
  .github/workflows/frontend.yml
Labels: ✨ feature, 🔧 config

#236 [FIX] Github action 수정
  .github/workflows/frontend-main.yml
  .github/workflows/frontend-pr.yml
Labels: 🚑 fix, 🖼︎ front-end, 🔧 config

#237 [BE] 백엔드 Github Action 구현
  .github/workflows/backend-main.yml
  .github/workflows/backend-pr.yml
  .github/workflows/frontend-main.yml
  .github/workflows/frontend-pr.yml
Labels: ✨ feature, 🌱 back-end, 🔧 config

#240 [Infra] Github Action 수정
  .github/workflows/frontend-main.yml
  .github/workflows/mariage.yml
  .gitignore
Labels: ♻️ refactor, 🖼︎ front-end, 🌱 back-end

#241 [Infra] Pull Request CI Test 합치기
  .github/workflows/frontend-pr.yml
  .github/workflows/mariage-pr.yml
Labels: 🖼︎ front-end, 🌱 back-end, 🔧 config

#242 [Infra] 커밋 메시지출력 기능
  .github/workflows/mariage-pr.yml
  .github/workflows/mariage.yml
Labels: 🖼︎ front-end, 🌱 back-end, 🔧 config

#246 [Docs] Readme 파일 작성
  readme.md
Labels: 📝 docs

#233 [BE] 좋아요 취소 기능 구현
  backend/src/main/java/com/multi/mariage/like/controller/LikeController.java
  backend/src/main/java/com/multi/mariage/like/domain/LikeRepository.java
  backend/src/main/java/com/multi/mariage/like/dto/request/LikeRemoveRequest.java
  backend/src/main/java/com/multi/mariage/like/exception/LikeErrorCode.java
  backend/src/main/java/com/multi/mariage/like/service/LikeService.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/ServiceTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/MemberFixture.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/like/controller/LikeControllerTest.java
  backend/src/test/java/com/multi/mariage/like/domain/LikeRepositoryTest.java
  backend/src/test/java/com/multi/mariage/like/service/LikeServiceTest.java
Labels: ✨ feature, ✅ test, 🌱 back-end

#249 [BE] 제품 상세페이지별 제품 조회 기능 추가
  backend/src/main/java/com/multi/mariage/country/domain/Country.java
  backend/src/main/java/com/multi/mariage/country/vo/CountriesVO.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductContentResponse.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/main/java/com/multi/mariage/product/vo/ProductsVO.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductFindControllerTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductFindServiceTest.java
Labels: ✨ feature, 🌱 back-end

#251 [FE] 메인페이지 날씨 및 온도
  frontend/src/assets/lottie/cloudy.json
  frontend/src/assets/lottie/rain.json
  frontend/src/assets/lottie/sand-dust.json
  frontend/src/assets/lottie/snow.json
  frontend/src/assets/lottie/sunny.json
  frontend/src/assets/lottie/thunderstorm.json
  frontend/src/components/Animation/Weather.tsx
  frontend/src/components/Main/Recommend/Recommend.styled.ts
  frontend/src/components/Main/Recommend/Recommend.tsx
  frontend/src/components/Main/Recommend/Weather/Weather.styled.ts
  frontend/src/components/Main/Recommend/Weather/Weather.tsx
Labels: ✨ feature, 🖼︎ front-end

#253 [FE] 제품상세페이지 리뷰 무한스크롤 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/components/Detail/ProductContent/ProductContent.styled.ts
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Header/Header.styled.ts
  frontend/src/components/MyInformation/Password/Password.styled.ts
  frontend/src/constants/path.ts
  frontend/src/index.tsx
  frontend/src/mocks/browsers.ts
  frontend/src/mocks/data/detailReviewData.ts
  frontend/src/mocks/detailReviewHandler.ts
Labels: ✨ feature, 🖼︎ front-end

#248 [BE] 제품에 대한 리뷰를 제공
  .github/workflows/mariage-pr.yml
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ReviewFixture.java
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/review/controller/ReviewFindController.java
  backend/src/main/java/com/multi/mariage/review/domain/ReviewRepository.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/dto/ReviewsPagingCond.java
  backend/src/main/java/com/multi/mariage/review/dto/resonse/ProductReviewsResponse.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/main/java/com/multi/mariage/review/vo/ProductReviewVO.java
  backend/src/main/java/com/multi/mariage/review/vo/product/ProductReviewContentVO.java
  backend/src/main/java/com/multi/mariage/review/vo/product/ProductReviewFoodVO.java
  backend/src/main/java/com/multi/mariage/review/vo/product/ProductReviewLikeVO.java
  backend/src/main/java/com/multi/mariage/review/vo/product/ProductReviewMemberVO.java
  backend/src/main/java/com/multi/mariage/weather/service/WeatherService.java
Labels: ✨ feature, 🌱 back-end

#255 [BE] 날씨 정보 API 수정
  backend/src/main/java/com/multi/mariage/weather/domain/Value.java
  backend/src/main/java/com/multi/mariage/weather/dto/response/WeatherInfoResponse.java
  backend/src/main/java/com/multi/mariage/weather/service/WeatherService.java
Labels: ✨ feature, 🌱 back-end

#256 [FIX] Github Action 메시지 수정
  .github/workflows/mariage-pr.yml
Labels: 🌱 back-end, 🔧 config

#261 [BE] 제품 상세페이지에서의 정렬 기능을 제공
  backend/src/main/java/com/multi/mariage/review/controller/ReviewFindController.java
  backend/src/main/java/com/multi/mariage/review/domain/Sort.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/dto/ReviewsPagingCond.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
Labels: ✨ feature, 🌱 back-end

#265 [FE] 리뷰페이지 리뷰컴포넌트 높이 수정 (미디어쿼리)
  frontend/src/components/Review/ReviewList.styled.ts
Labels: 🚑 fix, 🖼︎ front-end

#264 [FE] 제품페이지의 리뷰 조회 API 연동
  backend/src/main/java/com/multi/mariage/hashtag/domain/Hashtag.java
  backend/src/main/java/com/multi/mariage/review/controller/ReviewFindController.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/main/java/com/multi/mariage/review/vo/ProductReviewVO.java
  backend/src/main/java/com/multi/mariage/review/vo/product/ProductReviewContentVO.java
  frontend/src/@types/paging.ts
  frontend/src/@types/review.ts
  frontend/src/apis/request/review.ts
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/constants/rule.ts
  frontend/src/routes/Routes.tsx
Labels: ✨ feature, 🖼︎ front-end

#269 [FE] 메인페이지 날씨 정보 데이터 연동
  frontend/src/components/Animation/Weather.tsx
  frontend/src/components/Main/Recommend/Weather/Weather.styled.ts
  frontend/src/components/Main/Recommend/Weather/Weather.tsx
  package-lock.json
Labels: ✨ feature, 🖼︎ front-end

#268 [BE] 날씨 정보 API 수정
  backend/src/main/java/com/multi/mariage/weather/controller/WeatherController.java
  backend/src/main/java/com/multi/mariage/weather/dto/response/WeatherInfoResponse.java
  backend/src/main/java/com/multi/mariage/weather/service/WeatherService.java
Labels: ✨ feature, 🌱 back-end

#273 [FE] 이미지 제공 컴포넌트를 구현
  .github/workflows/mariage-pr.yml
  backend/src/main/java/com/multi/mariage/country/domain/Country.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductMainCardResponse.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductFindControllerTest.java
  frontend/src/assets/CountryFlag/CountryFlag.tsx
  frontend/src/assets/CountryFlag/brazil.png
  frontend/src/assets/Food/FoodImg.tsx
  frontend/src/assets/FoodCategory/FoodCategoryImg.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#274 [FE] 메인페이지 날씨 및 온도 수정
  frontend/src/components/Animation/Weather.tsx
  frontend/src/components/Main/Recommend/Weather/Weather.styled.ts
Labels: ✨ feature, 🖼︎ front-end

#279 [BE] 주류 기간 추천 API 리팩토링
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/dto/RecommendCond.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductContentResponse.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductFindControllerTest.java
  backend/src/test/java/com/multi/mariage/product/domain/ProductRepositoryQueryTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductFindServiceTest.java
Labels: ♻️ refactor, 🌱 back-end

#281 [BE] 제품페이지의 제품 조회 API 구현한다.
  backend/src/main/java/com/multi/mariage/auth/controller/AuthController.java
  backend/src/main/java/com/multi/mariage/category/domain/Food.java
  backend/src/main/java/com/multi/mariage/category/domain/FoodRepository.java
  backend/src/main/java/com/multi/mariage/category/domain/query/FoodRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/category/domain/query/FoodRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/category/service/FoodCategoryService.java
  backend/src/main/java/com/multi/mariage/global/utils/PagingUtil.java
  backend/src/main/java/com/multi/mariage/hashtag/domain/Hashtag.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/dto/condition/RecommendCond.java
  backend/src/main/java/com/multi/mariage/product/dto/request/ProductFindByFilterRequest.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductContentResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductFilterResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductFindResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductInfoResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductReviewStatsResponse.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/main/java/com/multi/mariage/product/service/ProductModifyService.java
  backend/src/main/java/com/multi/mariage/product/vo/ProductDetailVO.java
  backend/src/main/java/com/multi/mariage/product/vo/filter/ProductCountryFilterVO.java
  backend/src/main/java/com/multi/mariage/product/vo/filter/ProductFilterVO.java
  backend/src/main/java/com/multi/mariage/product/vo/filter/ProductFoodFilterVO.java
  backend/src/main/java/com/multi/mariage/product/vo/filter/ProductReviewFilterVO.java
  backend/src/main/java/com/multi/mariage/review/controller/ReviewFindController.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/main/java/com/multi/mariage/review/domain/ReviewHashtag.java
  backend/src/main/java/com/multi/mariage/review/domain/ReviewHashtagRepository.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/dto/ReviewsPagingCond.java
  backend/src/main/java/com/multi/mariage/review/dto/response/ProductReviewsResponse.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewHashtagService.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewModifyService.java
  backend/src/main/java/com/multi/mariage/review/vo/product/ProductReviewFoodVO.java
  backend/src/test/java/com/multi/mariage/category/service/FoodCategoryServiceTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/RepositoryTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/ServiceTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/product/domain/ProductRepositoryQueryTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductFindServiceTest.java
  backend/src/test/java/com/multi/mariage/review_hashtag/domain/ReviewHashtagRepositoryTest.java
Labels: ✨ feature, 🌱 back-end

#285 [BE] 카테고리 패키지의 하위 코드의 테스트 코드를 작성
  backend/src/main/java/com/multi/mariage/category/domain/Food.java
  backend/src/main/java/com/multi/mariage/category/domain/FoodRepository.java
  backend/src/main/java/com/multi/mariage/category/service/FoodCategoryService.java
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/vo/filter/ProductFoodFilterVO.java
  backend/src/main/java/com/multi/mariage/review/vo/product/ProductReviewFoodVO.java
  backend/src/test/java/com/multi/mariage/category/domain/FoodRepositoryTest.java
  backend/src/test/java/com/multi/mariage/category/service/FoodCategoryServiceTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/RepositoryTest.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/like/domain/LikeRepositoryTest.java
  backend/src/test/java/com/multi/mariage/product/domain/ProductRepositoryQueryTest.java
  backend/src/test/java/com/multi/mariage/review/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/multi/mariage/review_hashtag/domain/ReviewHashtagRepositoryTest.java
Labels: ✅ test, 🌱 back-end

#284 [FE] 제품 상세페이지 내부 empty state UI 구현
  frontend/src/assets/lottie/no-food-rank.json
  frontend/src/assets/lottie/no-reviews.json
  frontend/src/assets/svg/no-reviews.svg
  frontend/src/components/Animation/NoFoodRank.tsx
  frontend/src/components/Detail/Pairing/Pairing.tsx
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/NoFoodRank/NoFoodRanking.styled.ts
  frontend/src/components/NoFoodRank/NoFoodRanking.tsx
  frontend/src/components/NoReviews/NoReviews.styled.ts
  frontend/src/components/NoReviews/NoReviews.tsx
Labels: ✨ feature, 🖼︎ front-end

#290 [BE] Member 테스트 코드 정리 및 작성
  backend/src/docs/asciidoc/Auth.adoc
  backend/src/docs/asciidoc/Category.adoc
  backend/src/docs/asciidoc/Country.adoc
  backend/src/docs/asciidoc/Like.adoc
  backend/src/docs/asciidoc/Member.adoc
  backend/src/main/java/com/multi/mariage/hashtag/domain/Hashtag.java
  backend/src/main/java/com/multi/mariage/hashtag/service/HashtagService.java
  backend/src/main/java/com/multi/mariage/like/service/LikeService.java
  backend/src/test/java/com/multi/mariage/like/service/LikeServiceTest.java
  backend/src/test/java/com/multi/mariage/member/service/MemberFindServiceTest.java
  backend/src/test/java/com/multi/mariage/member/service/MemberModifyServiceTest.java
Labels: ✅ test, 🌱 back-end

#295 [BE] Weather, Storage 테스트 코드 작성
  backend/src/test/java/com/multi/mariage/storage/repository/StorageRepositoryTest.java
  backend/src/test/java/com/multi/mariage/storage/service/StorageServiceTest.java
  backend/src/test/java/com/multi/mariage/weather/domain/WeatherRepositoryTest.java
Labels: ✅ test, 🌱 back-end

#299 [FE] 라우팅 상세 설정
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/SignUp/SignUp.tsx
  frontend/src/routes/PrivateWrapper.tsx
  frontend/src/routes/Routes.tsx
  frontend/src/utils/auth.ts
  frontend/src/utils/boolean.ts
Labels: ✨ feature, 🖼︎ front-end

#301 [FE] 메인페이지 추천 제품 API을 연동
  backend/src/main/java/com/multi/mariage/weather/service/WeatherService.java
  frontend/src/@types/product.ts
  frontend/src/apis/request/product.ts
  frontend/src/assets/CountryFlag/CountryFlag.tsx
  frontend/src/assets/lottie/dataLoading.json
  frontend/src/components/Animation/DataLoading.tsx
  frontend/src/components/Main/Recommend/Filter/Filter.tsx
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.tsx
  frontend/src/components/Main/Recommend/ProductCardCarousel/ProductCardCarousel.styled.ts
  frontend/src/components/Main/Recommend/ProductCardCarousel/ProductCardCarousel.tsx
  frontend/src/components/Main/Recommend/Recommend.tsx
  frontend/src/components/Main/Recommend/Weather/Weather.styled.ts
  frontend/src/components/Main/Recommend/Weather/Weather.tsx
  frontend/src/constants/option.ts
  frontend/src/constants/path.ts
  frontend/src/constants/rule.ts
  frontend/src/pages/SignUp/SignUp.tsx
Labels: ✨ feature, 🖼︎ front-end

#306 [FE] 검색 필터 기능을 구현
  frontend/src/@types/review.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.styled.ts
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.tsx
  frontend/src/components/Main/SearchFilter/SearchFilter.tsx
  frontend/src/components/Product/Filter/Filter.styled.ts
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/components/Product/Option/Option.tsx
  frontend/src/constants/option.ts
  frontend/src/pages/Product/Product.tsx
Labels: ✨ feature, 🖼︎ front-end

#293 [BE] 제품 상세페이지 궁합 음식 정렬 조회 기능 구현
  backend/src/main/java/com/multi/mariage/category/domain/query/FoodRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/category/domain/query/FoodRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/category/service/FoodCategoryService.java
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ReviewFixture.java
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductDetailPageResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/temp/ProductContentResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/temp/ProductReviewRankCountResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/temp/ProductReviewRankRateResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/temp/ProductReviewStatsResponse.java
  backend/src/main/java/com/multi/mariage/product/exception/ProductErrorCode.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/main/java/com/multi/mariage/product/vo/FoodCountRankingVO.java
  backend/src/main/java/com/multi/mariage/product/vo/FoodRateRankingVO.java
  backend/src/main/java/com/multi/mariage/product/vo/ProductContentVO.java
  backend/src/main/java/com/multi/mariage/product/vo/ProductReviewStatsVO.java
  backend/src/main/java/com/multi/mariage/product/vo/ReviewRateVO.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductFindControllerTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductFindServiceTest.java
Labels: ✨ feature, ♻️ refactor, 🌱 back-end

#309 [BE] product 코드 정리
  backend/src/docs/asciidoc/Product.adoc
  backend/src/docs/asciidoc/Storage.adoc
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/dto/response/temp/ProductContentResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/temp/ProductReviewRankCountResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/temp/ProductReviewRankRateResponse.java
  backend/src/main/java/com/multi/mariage/product/dto/response/temp/ProductReviewStatsResponse.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/test/java/com/multi/mariage/common/fixture/ReviewFixture.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductFindControllerTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductFindServiceTest.java
Labels: ✅ test, ♻️ refactor, 🌱 back-end

#311 [FE] 제품페이지의 API를 연동
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  frontend/src/@types/param.ts
  frontend/src/@types/product.ts
  frontend/src/apis/request/product.ts
  frontend/src/components/Animation/NoItems.tsx
  frontend/src/components/Header/Dropdown/Dropdown.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/NoItems/NoItems.styled.ts
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/components/Product/Option/Option.tsx
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Slider/RangeMultiSlider_F/RangeMultiSlider_F.styled.ts
  frontend/src/components/Slider/RangeMultiSlider_F/RangeMultiSlider_F.tsx
  frontend/src/constants/path.ts
  frontend/src/constants/rule.ts
  frontend/src/hooks/useSearchParam.ts
  frontend/src/pages/Product/Product.styled.ts
  frontend/src/pages/Product/Product.tsx
Labels: ✨ feature, 🖼︎ front-end

#316 [BUG] 추천 제품이 존재하지 않을 시 추천 기능이 먹통이 되는 버그 수정, 카운터쿼리 버그 수정
  backend/src/main/java/com/multi/mariage/category/domain/query/FoodRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  frontend/src/components/Main/Recommend/ProductCardCarousel/ProductCardCarousel.styled.ts
  frontend/src/components/Main/Recommend/ProductCardCarousel/ProductCardCarousel.tsx
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/pages/Detail/Detail.tsx
Labels: 🚑 fix, 🖼︎ front-end, 🌱 back-end

#317 [BUG] 새로고침시 헤더의 정보가 사라지는 현상 수정
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/components/Main/Recommend/ProductCardCarousel/ProductCardCarousel.tsx
Labels: 🚑 fix, 🖼︎ front-end

#323 [FE] 리뷰 사진이 커지는 모달을 구현
  frontend/src/assets/CountryFlag/CountryFlag.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.tsx
  frontend/src/components/Detail/Review/ReviewEditModal/ReviewEditModal.tsx
  frontend/src/components/Header/User/Profile.tsx
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.tsx
  frontend/src/components/Modal/ReviewImage/ReviewImage.styled.ts
  frontend/src/components/Modal/ReviewImage/ReviewImage.tsx
  frontend/src/components/Product/ProductCard/ProductCard.styled.ts
  frontend/src/components/Product/ProductCard/ProductCard.tsx
Labels: ✨ feature, 🖼︎ front-end

#325 [FE] 상품상세페이지 오류
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  frontend/src/@types/product.ts
  frontend/src/@types/select.ts
  frontend/src/apis/request/product.ts
  frontend/src/assets/Food/FoodImg.tsx
  frontend/src/components/Detail/Pairing/Pairing.tsx
  frontend/src/components/Detail/ProductContent/ProductContent.tsx
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.tsx
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.tsx
  frontend/src/constants/path.ts
  frontend/src/pages/Detail/Detail.tsx
Labels: ✨ feature, 🖼︎ front-end

#331 [FIX] 궁합 음식 평점순 랭킹 조회 시 표기 수정
  backend/src/main/java/com/multi/mariage/category/domain/Food.java
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
Labels: ♻️ refactor, 🌱 back-end

#334 [BE] 상품(ProductFixture) 데이터 추가 / 술 카테고리 변경
  backend/src/main/java/com/multi/mariage/category/domain/DrinkLowerCategory.java
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ProductFixture.java
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
Labels: ✨ feature, 🌱 back-end

#337 [BE] 더미데이터 추가
  backend/src/main/java/com/multi/mariage/global/data/Fixture/MemberFixture.java
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ProductFixture.java
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ReviewFixture.java
  backend/src/main/java/com/multi/mariage/global/data/LoaderData.java
  backend/src/main/java/com/multi/mariage/product/domain/embedded/Info.java
  backend/src/main/java/com/multi/mariage/product/exception/ProductErrorCode.java
  backend/src/main/java/com/multi/mariage/product/service/ProductModifyService.java
  backend/src/main/java/com/multi/mariage/review/controller/ReviewModifyController.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewModifyService.java
  backend/src/test/java/com/multi/mariage/common/annotation/ControllerTest.java
  backend/src/test/java/com/multi/mariage/common/annotation/ServiceTest.java
  backend/src/test/java/com/multi/mariage/product/domain/embedded/InfoTest.java
Labels: ✨ feature, 🌱 back-end, 🔧 config

#344 [FE] 제품페이지 전체 UI(css) 수정
  backend/src/main/java/com/multi/mariage/global/data/Fixture/MemberFixture.java
  frontend/src/components/Product/Filter/Filter.styled.ts
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/components/Product/Option/Option.styled.ts
  frontend/src/components/Product/ProductCard/ProductCard.styled.ts
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Slider/RangeMultiSlider_F/RangeMultiSlider_F.styled.ts
  frontend/src/pages/Product/Product.styled.ts
Labels: 🖼︎ front-end

#342 [Bug] 날씨 정보 CSS 수정
  frontend/src/components/Main/Recommend/Weather/Weather.styled.ts
  frontend/src/components/Main/Recommend/Weather/Weather.tsx
Labels: 🚑 fix, 🖼︎ front-end

#343 [BE, FE] 제품 검색 기능을 구현
  backend/src/main/java/com/multi/mariage/global/data/Fixture/MemberFixture.java
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ProductFixture.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductFindController.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/dto/request/ProductFindByFilterRequest.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/test/java/com/multi/mariage/product/controller/ProductFindControllerTest.java
  backend/src/test/java/com/multi/mariage/product/domain/query/ProductRepositoryQueryTest.java
  backend/src/test/java/com/multi/mariage/product/service/ProductFindServiceTest.java
  frontend/src/@types/param.ts
  frontend/src/apis/request/product.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Header/Search/Search.styled.ts
  frontend/src/components/Header/Search/Search.tsx
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/hooks/useInput.ts
  frontend/src/pages/Product/Product.tsx
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#347 [BUG] 필터 검색 옵션이 정상적으로 동작하지 않는 현상 발생 해결
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/main/java/com/multi/mariage/review/dto/response/PageResponse.java
  backend/src/test/java/com/multi/mariage/product/domain/query/ProductRepositoryQueryTest.java
  frontend/src/constants/rule.ts
  frontend/src/mocks/browsers.ts
  frontend/src/mocks/detailReviewHandler.ts
Labels: 🚑 fix, 🌱 back-end

#348 [BUG] 옵션이 풀리는 CSS 버그 수정
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.tsx
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.styled.ts
  frontend/src/components/StarRate/Average/SvgStarRateAverage.styled.ts
Labels: ✨ feature, 🚑 fix, 🖼︎ front-end

#349 [FE] 리뷰 등록기능을 구현
  backend/src/main/java/com/multi/mariage/category/dto/request/StorageRemoveRequest.java
  backend/src/main/java/com/multi/mariage/product/controller/ProductModifyController.java
  backend/src/main/java/com/multi/mariage/product/dto/response/ProductModifyResponse.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewModifyService.java
  backend/src/main/java/com/multi/mariage/review/vo/product/ProductReviewFoodVO.java
  backend/src/main/java/com/multi/mariage/storage/controller/StorageController.java
  backend/src/main/java/com/multi/mariage/storage/service/StorageService.java
  frontend/src/@types/category.ts
  frontend/src/@types/review.ts
  frontend/src/apis/request/category.ts
  frontend/src/apis/request/review.ts
  frontend/src/apis/request/storage.ts
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.tsx
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodCategory.tsx
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodImg.tsx
  frontend/src/components/Detail/Review/ReviewEdit/HashTag/HashTag.tsx
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.tsx
  frontend/src/components/Main/Recommend/ProductCard/ProductCard.styled.ts
  frontend/src/components/StarRate/Common/StarRate.tsx
  frontend/src/constants/key.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useFoodCategory.ts
  frontend/src/pages/Admin/Admin.tsx
  frontend/src/store/status.ts
  frontend/src/utils/auth.ts
  frontend/src/utils/image.ts
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#346 [BE] 사용자가 좋아요한 리뷰 조회 기능 구현
  backend/src/docs/asciidoc/Like.adoc
  backend/src/docs/asciidoc/Review.adoc
  backend/src/main/java/com/multi/mariage/review/controller/ReviewFindController.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryCustom.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/dto/request/ReviewFindRequest.java
  backend/src/main/java/com/multi/mariage/review/dto/response/MemberProfileResponse.java
  backend/src/main/java/com/multi/mariage/review/dto/response/MemberReviewInfoResponse.java
  backend/src/main/java/com/multi/mariage/review/service/ReviewFindService.java
  backend/src/main/java/com/multi/mariage/review/vo/member/MemberReviewVO.java
  backend/src/main/java/com/multi/mariage/review/vo/member/ProductInfoVO.java
  backend/src/main/java/com/multi/mariage/review/vo/member/ReviewContentVO.java
  backend/src/main/java/com/multi/mariage/review/vo/member/ReviewInfoVO.java
  backend/src/test/java/com/multi/mariage/review/controller/ReviewFindControllerTest.java
  backend/src/test/java/com/multi/mariage/review/domain/query/ReviewRepositoryQueryTest.java
  backend/src/test/java/com/multi/mariage/review/service/ReviewFindServiceTest.java
Labels: ✨ feature, ♻️ refactor, 🌱 back-end

#351 [FIX] 사진 이름 수정
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ProductFixture.java
  frontend/src/constants/rule.ts
Labels: 🌱 back-end, 🔧 config

#354 [FE] 제품페이지 제품리스트 무한스크롤 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/mocks/data/detailReviewData.ts
  frontend/src/pages/Product/Product.tsx
Labels: ✨ feature, 🖼︎ front-end

#355 [FE] 사용자가 어떠한 필터를 적용했는지 알려주는 UI를 구현
  frontend/src/components/Product/Filter/Filter.styled.ts
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/components/Slider/RangeMultiSlider_F/RangeMultiSlider_F.styled.ts
  frontend/src/constants/option.ts
  frontend/src/pages/Product/Product.styled.ts
  frontend/src/pages/Product/Product.tsx
Labels: ✨ feature, 🖼︎ front-end

#360 [BUG] 제품페이지 데이터 조회 버그 수정
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/dto/request/ProductFindByFilterRequest.java
  frontend/src/apis/request/product.ts
  frontend/src/components/Header/Dropdown/Dropdown.tsx
  frontend/src/components/Main/SearchFilter/SearchFilter.tsx
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/components/Product/Option/Option.tsx
  frontend/src/hooks/useIntersectionObserver.ts
  frontend/src/pages/Product/Product.styled.ts
  frontend/src/pages/Product/Product.tsx
Labels: 🚑 fix, 🖼︎ front-end, 🌱 back-end

#362 [FE] 제품상세페이지 / 리뷰작성 컴포넌트 UI 수정
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ProductFixture.java
  frontend/src/assets/FoodCategory/FoodCategoryImg.tsx
  frontend/src/components/Detail/Pairing/Pairing.styled.ts
  frontend/src/components/Detail/Pairing/Pairing.tsx
  frontend/src/components/Detail/ProductContent/ProductContent.styled.ts
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.styled.ts
  frontend/src/components/Detail/Review/ReviewContent/ReviewContent.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodCategory.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/FoodContent/FoodImg.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.styled.ts
  frontend/src/components/Detail/Review/ReviewEdit/ReviewEdit.tsx
  frontend/src/components/NoFoodRank/NoFoodRanking.styled.ts
  frontend/src/components/Product/Filter/Filter.styled.ts
  frontend/src/components/StarRate/Common/StarRate.styled.ts
  frontend/src/components/StarRate/Common/StarRate.tsx
Labels: ✨ feature, 🖼︎ front-end, 🌱 back-end

#363 [FE] 제품 페이지의 리뷰 무한 스크롤을 구현
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/review/domain/Sort.java
  backend/src/main/java/com/multi/mariage/review/domain/query/ReviewRepositoryImpl.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/multi/mariage/review/domain/query/ReviewRepositoryQueryTest.java
  frontend/src/@types/select.ts
  frontend/src/components/Detail/Review/Review.styled.ts
  frontend/src/components/Detail/Review/Review.tsx
  frontend/src/components/Detail/Review/ReviewCategory/ReviewCategory.tsx
  frontend/src/components/Header/Search/Search.tsx
  frontend/src/components/Product/Filter/Filter.styled.ts
  frontend/src/components/Product/Filter/Filter.tsx
  frontend/src/constants/option.ts
  frontend/src/pages/Product/Product.tsx
Labels: ✨ feature, 🖼︎ front-end

#365 [BE] 리뷰 데이터 추가
  backend/src/main/java/com/multi/mariage/global/config/WebConfig.java
  backend/src/main/java/com/multi/mariage/global/data/Fixture/MemberFixture.java
  backend/src/main/java/com/multi/mariage/global/data/Fixture/ReviewFixture.java
Labels: 🌱 back-end

#368 [BUG] 제품페이지 무한스크롤 버그 수정
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/domain/query/ProductRepositoryImpl.java
  backend/src/main/java/com/multi/mariage/product/service/ProductFindService.java
  backend/src/main/java/com/multi/mariage/product/vo/filter/ProductReviewFilterVO.java
Labels: 🚑 fix, 🌱 back-end

#371 [FE] 제품페이지로 이동시 보여주는 화면 기능 구현
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.styled.ts
  frontend/src/components/Detail/Review/RateStatistic/RateStatistic.tsx
  frontend/src/pages/Product/Product.tsx
Labels: ✨ feature, 🖼︎ front-end
