Repository mariage-kr/mariage, pull requests merged in 2023-04, with the labels that each got.

#3 [FE] 프로젝트 생성
  .gitignore
  frontend/.gitignore
  frontend/.prettierrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: 🖼︎ front-end, 🔧 config

#6 [FE] 글로벌 스타일 설정
  frontend/src/App.tsx
  frontend/src/apis/readme.md
  frontend/src/assets/readme.md
  frontend/src/components/readme.md
  frontend/src/constants/readme.md
  frontend/src/pages/readme.md
  frontend/src/styles/fonts.tsx
  frontend/src/styles/global.tsx
  frontend/src/utils/readme.md
Labels: ✨ feature, 🖼︎ front-end

#12 [BE] Custom Exception 구현
  backend/build.gradle
  backend/src/main/java/com/multi/mariage/global/exception/exception/ErrorCode.java
  backend/src/main/java/com/multi/mariage/global/exception/exception/MariageException.java
Labels: ✨ feature, 🌱 back-end

#13 [BE] Open API 저장
  backend/build.gradle
  backend/src/main/generated/com/multi/mariage/weather/domain/QWeather.java
  backend/src/main/java/com/multi/mariage/weather/domain/Value.java
  backend/src/main/java/com/multi/mariage/weather/domain/Weather.java
  backend/src/main/java/com/multi/mariage/weather/domain/WeatherRepository.java
  backend/src/main/java/com/multi/mariage/weather/exception/WeatherErrorCode.java
  backend/src/main/java/com/multi/mariage/weather/exception/WeatherException.java
  backend/src/main/java/com/multi/mariage/weather/service/WeatherService.java
  backend/src/main/resources/application-logging.yml
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/main/resources/security/README.md
  backend/src/main/resources/security/application-database.yml
  backend/src/main/resources/security/application-openWeatherMap.yml
  backend/src/test/java/com/multi/mariage/MariageApplicationTests.java
  backend/src/test/java/com/multi/mariage/weather/service/WeatherServiceTest.java
Labels: ✨ feature, ✅ test, 🌱 back-end

#16 [BE] .gitignore 수정
  backend/.gitignore
  backend/src/main/resources/security/application-database.yml
  backend/src/main/resources/security/application-openWeatherMap.yml
Labels: 🌱 back-end, 🔧 config

#17 [BE] 테이블 구현
  backend/.gitignore
  backend/src/main/generated/com/multi/mariage/weather/domain/QWeather.java
  backend/src/main/java/com/multi/mariage/category/domain/FoodCategory.java
  backend/src/main/java/com/multi/mariage/category/domain/FoodValue.java
  backend/src/main/java/com/multi/mariage/category/domain/LowerCategory.java
  backend/src/main/java/com/multi/mariage/category/domain/LowerValue.java
  backend/src/main/java/com/multi/mariage/category/domain/UpperCategory.java
  backend/src/main/java/com/multi/mariage/category/domain/UpperValue.java
  backend/src/main/java/com/multi/mariage/country/domain/Country.java
  backend/src/main/java/com/multi/mariage/country/domain/CountryRepository.java
  backend/src/main/java/com/multi/mariage/country/domain/Value.java
  backend/src/main/java/com/multi/mariage/hashtag/domain/Hashtag.java
  backend/src/main/java/com/multi/mariage/like/domain/Like.java
  backend/src/main/java/com/multi/mariage/member/domain/Gender.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/member/domain/MemberRepository.java
  backend/src/main/java/com/multi/mariage/member/domain/Role.java
  backend/src/main/java/com/multi/mariage/member/domain/embedded/Email.java
  backend/src/main/java/com/multi/mariage/member/domain/embedded/Name.java
  backend/src/main/java/com/multi/mariage/member/domain/embedded/Nickname.java
  backend/src/main/java/com/multi/mariage/member/domain/embedded/Password.java
  backend/src/main/java/com/multi/mariage/product/domain/Product.java
  backend/src/main/java/com/multi/mariage/product/domain/ProductRepository.java
  backend/src/main/java/com/multi/mariage/review/domain/Review.java
  backend/src/main/java/com/multi/mariage/review/domain/ReviewRepository.java
  backend/src/main/java/com/multi/mariage/storage/domain/Image.java
  backend/src/main/java/com/multi/mariage/weather/domain/Weather.java
  backend/src/main/resources/application.yml
Labels: ✨ feature, 🌱 back-end

#23 [FE] 로딩 페이지
  frontend/src/App.tsx
  frontend/src/assets/lottie/wine.json
  frontend/src/components/Animation/Wine.tsx
  frontend/src/components/Animation/index.ts
  frontend/src/components/Loading/Loading.styled.ts
  frontend/src/components/Loading/Loading.tsx
Labels: ✨ feature, 🖼︎ front-end

#21 [FE] 좋아요 버튼 UI 구현
  frontend/src/App.tsx
  frontend/src/assets/svg/custom.d.ts
  frontend/src/assets/svg/thumbs-up.svg
  frontend/src/components/Button/Common/Button/index.styled.ts
  frontend/src/components/Button/Common/Button/index.tsx
  frontend/src/components/Button/Like/Like.styled.ts
  frontend/src/components/Button/Like/Like.tsx
Labels: ✨ feature, 🖼︎ front-end

#25 [FE] 라우터 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/constants/path.ts
  frontend/src/pages/Detail/Detail.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Main/Main.tsx
  frontend/src/pages/MyInformation/MyInformation.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/Pages.ts
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/SignUp/SignUp.tsx
  frontend/src/routes/Routes.tsx
  frontend/webpack.config.js
Labels: ✨ feature, 🖼︎ front-end

#30 [BE] 회원가입 기능
  backend/src/main/java/com/multi/mariage/global/redis/RedisConfig.java
  backend/src/main/java/com/multi/mariage/global/security/SecurityConfig.java
  backend/src/main/java/com/multi/mariage/member/controller/MemberController.java
  backend/src/main/java/com/multi/mariage/member/domain/Member.java
  backend/src/main/java/com/multi/mariage/member/domain/MemberRepository.java
  backend/src/main/java/com/multi/mariage/member/domain/embedded/Email.java
  backend/src/main/java/com/multi/mariage/member/domain/embedded/Name.java
  backend/src/main/java/com/multi/mariage/member/domain/embedded/Nickname.java
  backend/src/main/java/com/multi/mariage/member/domain/embedded/Password.java
  backend/src/main/java/com/multi/mariage/member/dto/request/MemberSignupRequest.java
  backend/src/main/java/com/multi/mariage/member/exception/MemberErrorCode.java
  backend/src/main/java/com/multi/mariage/member/exception/MemberException.java
  backend/src/main/java/com/multi/mariage/member/service/MemberService.java
  backend/src/main/resources/security/README.md
  frontend/src/components/Button/Like/Like.tsx
Labels: ✨ feature, 🌱 back-end

#32 [FE] 멀티 슬라이드 구현
  frontend/src/assets/ProductCardDummyData/chamisul.png
  frontend/src/assets/ProductCardDummyData/chumchurum.png
  frontend/src/assets/ProductCardDummyData/ganbareotosang.png
  frontend/src/assets/ProductCardDummyData/ilpoomjinro.png
  frontend/src/assets/ProductCardDummyData/japan.svg
  frontend/src/assets/ProductCardDummyData/korea.svg
  frontend/src/components/ProductCard/ProductCard.styled.ts
  frontend/src/components/ProductCard/ProductCard.tsx
  frontend/src/components/ProductCard/ProductCardDummyData.json
  frontend/src/components/RangeMultiSlider_F/RangeMultiSlider_F.styled.ts
  frontend/src/components/RangeMultiSlider_F/RangeMultiSlider_F.tsx
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M.styled.ts
  frontend/src/components/RangeMultiSlider_M/RangeMultiSlider_M.tsx
  frontend/tsconfig.json
Labels: ✨ feature, 🖼︎ front-end

#29 [FE] NotFound 페이지 추가
  frontend/src/assets/lottie/drunk-bottle.json
  frontend/src/assets/svg/back.svg
  frontend/src/assets/svg/home.svg
  frontend/src/assets/svg/like.svg
  frontend/src/components/Animation/Soju.tsx
  frontend/src/components/Animation/index.ts
  frontend/src/components/Button/Common/Button/index.styled.ts
  frontend/src/components/Button/Common/Button/index.tsx
  frontend/src/components/Button/Like/Like.styled.ts
  frontend/src/components/Error/Error.styled.ts
  frontend/src/components/Error/Error.tsx
  frontend/src/constants/message.ts
  frontend/src/pages/NotFound/NotFound.styled.ts
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/webpack.config.js
Labels: ✨ feature, 🖼︎ front-end
